<div class="container-fluid">
    <div class="row col-md-10 col-md-offset-1">

        <div class="col-md-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.subjects({id:cp.subject.grade_id})" class="">Materias</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.preProduction.classesPlanification({id: cp.subject.id})" class="">Planificacion de clases</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>Planificacion de {{cp.topicName}}</b></span></a>
                    <underlining></underlining>
                </span>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="clearfix"></div>

            <div class="tile-body">
                <div class="row" style="top: 20px;">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12 row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Tema:</label> <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{cp.topicName}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">ME Objetivo general:</label> <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{cp.meGeneralObjective}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">ME Objetivo especifico</label> <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{cp.meSpecificObjective}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Descripcion Objetivo especifico</label><div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{cp.meSpecificObjDesc}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Lapso al que pertenece</label><div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{cp.period}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12" style="top: 20px;">
                    <h2 align="center">Matrices de diseño de tema (MDT'S)</h2>
                </div>

                <!-- <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
                 <p><strong>Filter:</strong> {{tableParams.filter()|json}}-->
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                    <button ng-click="tableParams.filter({})" class="btn btn-default pull-right" style="margin-bottom: 30px;">Limpiar Filtrado</button>
                    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
                        <tr ng-repeat="row in $data">
                            <td data-title="'Id video'" filter="{videoId: 'text'}" ng-if="row.writable != true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">{{row.videoId}}</td>
                            <td data-title="'Titulo'" ng-if="row.writable != true" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row">
                                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 ">
                                    {{row.videoTittle | limitTo : 300}}...
                                </div>
                            </td>
                            <td data-title="'Contenido'" ng-if="row.writable != true" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row">
                                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                                    {{row.videoContent | limitTo : 300}}...
                                </div>
                            </td>
                            <td data-title="'Estado'" filter="{status: 'text'}" ng-if="row.writable != true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">{{row.status | translate}}</td>
                            <td data-title="'Comentarios'" ng-if="row.writable != true" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 row">
                                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                                    {{row.comments | limitTo : 300}}...
                                </div>
                            </td>

                            <td data-title="'Acciones'" ng-if="row.writable != true" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row" style="vertical-align:middle">
                                <div align="center">
                                    <a ng-click="editRow(row)" title='editar'>
                                        <i class="fa fa-pencil editBtn" style="font-size: 15px"></i>
                                    </a><span style="font-size: 20px">|</span>

                                    <a ng-click="add(row, $data)" title='agregar video a este tema'>
                                        <i class="fa fa-plus-circle addBtn" aria-hidden="true" style="font-size: 15px"></i>
                                    </a><span style="font-size: 20px">|</span>

                                    <a ui-sref="app.vdm.showVdm({id:row.id})" title='ver detalle'>
                                        <i class="fa fa-eye showBtn" aria-hidden="true" style="font-size: 15px"></i>
                                    </a>

                                </div>
                            </td>

                            <td data-title="'Id video'" ng-if="row.writable == true">{{row.videoId}}</td>
                            <td data-title="'Titulo'" ng-if="row.writable == true" style="vertical-align:middle"><input type="text"  style="font-weight: bold"  ng-model="row.videoTittle"/></td>
                            <td data-title="'Contenido'" ng-if="row.writable == true"><textarea style="width: 100%; height: 150px; font-weight: bold" type="text" ng-model="row.videoContent"></textarea></td>
                            <td data-title="'Estado'" ng-if="row.writable == true"  style="vertical-align:middle"><select id="municipio" ng-model="row.status" ng-options="state.statusIng as state.statusSpa for state in states" style="height:2.2em; margin-top: 6px;" >
                                <option value="#">No especifico</option>
                            </select>
                            </td>
                            <td data-title="'Comentarios'" ng-if="row.writable == true"><textarea style="width: 100%; height: 150px; font-weight: bold"  type="text" ng-model="row.comments"></textarea></td>
                            <td data-title="'Acciones'" ng-if="row.writable == true"  style="vertical-align:middle">
                                <div align="center">
                                    <a ng-click="saveVdm(row)" title='guardar'>
                                        <i class="fa fa-floppy-o saveBtn" aria-hidden="true" style="font-size: 15px"></i>
                                    </a><span style="font-size: 20px">|</span>
                                    <a ng-click="remove(row, $data)" title='eliminar'>
                                        <i class="fa fa-minus-circle removeBtn" aria-hidden="true" style="font-size: 15px"></i>
                                    </a><span style="font-size: 20px">|</span>
                                    <a ng-click="close(row, $data)" title='cerrar'>
                                        <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12 row" style="margin-top: 20px; margin-bottom: 20px;">
                    <h2 align="center">Historial de cambios</h2>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                    <table ng-table="historyTable" class="table table-condensed table-bordered table-striped">
                        <tr ng-repeat="row in $data">
                            <td data-title="'Usuario'" filter="{uname: 'text'}">{{row.uname}}</td>
                            <td data-title="'Detalle'" filter="{changeDetail: 'text'}">{{row.changeDetail}}</td>
                            <td data-title="'Cambio de'">
                                <div>
                                    {{row.changedFrom | limitTo : 300}}...
                                </div>
                            </td>
                            <td data-title="'Cambio a'">
                                <div>
                                    {{row.changedTo | limitTo : 300}}...
                                </div>
                            </td>
                            <td data-title="'Commentarios'">
                                <div>
                                    {{row.comments | limitTo : 300}}...
                                </div>
                            </td>
                            <td data-title="'Fecha'"filter="{changeDate: 'text'}" style="vertical-align:middle">
                                <div align="center">
                                    {{row.changeDate}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
