<h3 class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0 over-x" style="text-align: center">Evaluación del Desempeño de Contenido (por materia)</h3>

<div class="col-xs-2 col-xs-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5 row" style="top: 20px; margin-bottom: 15px">
    <div align="center" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-left" title="Desempeño de departamento por materia" ng-click="activateContentProgress()">
        <div style="margin-top: 50%;">
            <i class="fa fa-book  showBtn sectionBtn" aria-hidden="true" ng-class="{'showBtnActive': progressContentActive}"></i>
        </div>
    </div>
    <div align="center" class="col-xs-1 col-sm-1 col-md-1 col-lg-1  pull-right" title="Desempeño de empleados" ng-click="activateContentAnalystsProgress()">
        <div style="margin-top: 50%;">
            <i class="fa fa-users  showBtn sectionBtn" aria-hidden="true" ng-class="{'showBtnActive': progressContentAnalystsActive}"></i>
        </div>
    </div>
</div>

<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0 over-x" style="top: 15px">

    <table align="center" class="table table-condensed table-bordered table-striped col-lg-8">
        <tr>
            <th>Materia</th>
            <th>Profesor</th>
            <th>No recibido</th>
            <th>Recibido (Cantidad)</th>
            <th>Devueltos (Cantidad)</th>
            <th>Procesado</th>
            <th>Video Clases</th>
            <th>Efectividad</th>
        </tr>

        <tr ng-repeat="row in data">
            <td>{{row.subject.name}}</td>
            <td>{{row.teacher.firstName+" "+row.teacher.lastName}}</td>
            <td>{{row.notReceived}}</td>
            <td>{{row.received}}</td>
            <td>{{row.returned}}</td>
            <td>{{row.processed}}</td>
            <td>{{row.totalVideos}}</td>
            <td ng-if="row.effectiveness != 'NaN'">{{row.effectiveness}}%</td>
            <td ng-if="row.effectiveness == 'NaN'">0%</td>

        </tr>
    </table>

</div>