<h3 class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0 over-x" style="text-align: center">Evaluación del Desempeño de Post-produccion (por post-productor)</h3>

<div class="col-xs-2 col-xs-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5 row" style="top: 20px; margin-bottom: 15px">
    <div align="center" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-left" title="Desempeño de departamento por materia" ng-click="activatePostProductionProgress()">
        <div style="margin-top: 50%;">
            <i class="fa fa-book  showBtn sectionBtn" aria-hidden="true" ng-class="{'showBtnActive': progressPostProductionActive}"></i>
        </div>
    </div>
    <div align="center" class="col-xs-1 col-sm-1 col-md-1 col-lg-1  pull-right" title="Desempeño de empleados" ng-click="activatePostProducersProgress()">
        <div style="margin-top: 50%;">
            <i class="fa fa-users  showBtn sectionBtn" aria-hidden="true" ng-class="{'showBtnActive': progressPostProducersActive}"></i>
        </div>
    </div>
</div>

<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0 over-x" style="top: 15px">

    <table align="center" class="table table-condensed table-bordered table-striped col-lg-8">
        <tr>
            <th>Post-productor</th>
            <th>Asignado (Cantidad)</th>
            <th>Devueltos (Cantidad)</th>
            <th>Terminados (Cantidad)</th>
            <th>Aprobados (Cantidad)</th>
            <th>Total</th>
            <th>Efectividad</th>
        </tr>

        <tr ng-repeat="row in data">
            <td>{{row.post_producer}}</td>

            <td ng-if="row.assigned < 1">{{row.assigned}}</td>
            <td ng-if="row.assigned >= 1"><a ng-click="printVdmsInfo(row.assigned_vdms, 'Post-produccion', row.post_producer, 'asignados', false, row.subject.name, date.from_date, date.to_date)" class="tableLink">{{row.assigned}}</a></td>

            <td ng-if="row.returned < 1">{{row.returned}}</td>
            <td ng-if="row.returned >= 1"><a ng-click="printVdmsInfo(row.returned_vdms, 'Post-produccion', row.post_producer, 'rechazados',false, row.subject.name, date.from_date, date.to_date)" class="tableLink">{{row.returned}}</a></td>

            <td ng-if="row.finished < 1">{{row.finished}}</td>
            <td ng-if="row.finished >= 1"><a ng-click="printVdmsInfo(row.finished_vdms, 'Post-produccion', row.post_producer, 'terminados',false, row.subject.name, date.from_date, date.to_date)" class="tableLink">{{row.finished}}</a></td>

            <td ng-if="row.approved < 1">{{row.approved}}</td>
            <td ng-if="row.approved >= 1"><a ng-click="printVdmsInfo(row.approved_vdms, 'Post-produccion', row.post_producer, 'aprobados',false, row.subject.name, date.from_date, date.to_date)" class="tableLink">{{row.approved}}</a></td>

            <td ng-if="row.totalVideos < 1">{{row.totalVideos}}</td>
            <td ng-if="row.totalVideos >= 1"><a ng-click="printVdmsInfo(row.total, 'Post-produccion', row.post_producer, null,true, row.subject.name, date.from_date, date.to_date)" class="tableLink">{{row.totalVideos}}</a></td>

            <td ng-if="row.effectiveness != 'NaN'">{{row.effectiveness}}%</td>
            <td ng-if="row.effectiveness == 'NaN'">0%</td>

        </tr>
    </table>

</div>