<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0 over-x" style="top: 15px">

    <table align="center" class="table table-bordered table-striped col-lg-8">
        <tr>
            <th>Materia</th>
            <th>Profesor</th>
            <th>Asignados (Cantidad)</th>
            <th>Devueltos (Cantidad)</th>
            <th>Grabado</th>
            <th>Aprobados (Cantidad)</th>
            <th>Total (Cantidad)</th>
            <th>Efectividad</th>
        </tr>

        <tr ng-repeat="row in data">
            <td>{{row.subject.name}}</td>
            <td>{{row.teacher.firstName+" "+row.teacher.lastName}}</td>
            <td ng-if="row.assigned < 1">{{row.assigned}}</td>
            <td ng-if="row.assigned >= 1"><a ng-click="printVdmsInfo(row.assigned_vdms, 'Produccion', null, 'asignados', false, row.subject.name, date.from_date, date.to_date)" class="tableLink">{{row.assigned}}</a></td>
            <td ng-if="row.returned < 1">{{row.returned}}</td>
            <td ng-if="row.returned >= 1"><a ng-click="printVdmsInfo(row.returned_vdms, 'Produccion', null, 'rechazados', false, row.subject.name, date.from_date, date.to_date)" class="tableLink">{{row.returned}}</a></td>
            <td ng-if="row.recorded < 1">{{row.recorded}}</td>
            <td ng-if="row.recorded >= 1"><a ng-click="printVdmsInfo(row.recorded_vdms, 'Produccion', null, 'grabados', false, row.subject.name, date.from_date, date.to_date)" class="tableLink">{{row.recorded}}</a></td>
            <td ng-if="row.approved < 1">{{row.approved}}</td>
            <td ng-if="row.approved >= 1"><a ng-click="printVdmsInfo(row.approved_vdms, 'Produccion', null, 'aprobados', false, row.subject.name, date.from_date, date.to_date)" class="tableLink">{{row.approved}}</a></td>
            <td ng-if="row.totalVideos < 1">{{row.totalVideos}}</td>
            <td ng-if="row.totalVideos >= 1"><a ng-click="printVdmsInfo(row.total, 'Produccion', null, null, true, row.subject.name, date.from_date, date.to_date)" class="tableLink">{{row.totalVideos}}</a></td>

            <td ng-if="row.effectiveness != 'NaN'">{{row.effectiveness}}%</td>
            <td ng-if="row.effectiveness == 'NaN'">0%</td>

        </tr>
    </table>

</div>