
<div class="container-fluid" >

    <div class="row col-md-10 col-md-offset-1">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>Materias</b></span></a>
                    <underlining></underlining>
                </span>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="clearfix"></div>
            <div ng-repeat="subject in subjects" >
                <div class="listItemDescription col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1col-md-10 col-md-offset-1 col-lg-5  row" style="margin-top: 20px;">

                    <div class="subjectOptions">
                        <span ng-if="currentRole == 'contentLeader' || currentRole == 'contentAnalist'">
                             <div>
                                <div ng-if="subject.user == null && currentRole == 'contentLeader'" class="col-xs-12 col-sm-12 col-md-12" align="right"><a class="prettyLinkSmall pull-right" ng-click="assignSubject(subject)">asignar</a></div>
                                <div ng-if="subject.user != null && currentRole == 'contentLeader'" class="col-xs-12 col-sm-12 col-md-12" align="right"><a class="prettyLinkSmall pull-right" ng-click="assignSubject(subject)">analista de contenido: {{subject.user.name}} </a></div>
                                <div ng-if="subject.user != null && currentRole != 'contentLeader'" class="col-xs-12 col-sm-12 col-md-12 pull-right" align="right" style="font-size: 14px; font-weight: 400; text-decoration: none !important;">analista de contenido: {{subject.user.name}} </div>
                                <div align="center" class="col-xs-12 col-sm-12 col-md-12"><p>{{subject.name}} </p></div>
                            </div>
                            <div align="center" class="col-xs-12 col-sm-12 col-md-12 " style="margin-top: 15px">
                                <button class="col-sm-4 col-md-4 col-lg-4 col-xs-4 subjectButton" ui-sref="app.preProduction.classesPlanification({id: subject.id})" ng-class="{disabled: currentRole == 'contentAnalist' && subject.user.id != currentUser.id}"><p style="margin: 0 0 0">Plan de clases</p></button>
                                <button class="col-sm-4 col-md-4 col-lg-4 col-xs-4 subjectButton" ui-sref="app.vdm.vdmList({id: subject.id})" ng-class="{disabled: currentRole == 'contentAnalist' && subject.user.id != currentUser.id}"><p style="margin: 0 0 0">MDT</p></button>
                                <button class="col-sm-4 col-md-4 col-lg-4 col-xs-4 subjectButton" ng-class="{disabled: currentRole == 'contentAnalist' && subject.user.id != currentUser.id}"><p style="margin: 0 0 0 -7px;">Consolidación</p></button>
                            </div>
                            </span>
                        <span ng-if="currentRole != 'contentLeader' && currentRole != 'contentAnalist'">
                             <div align="center">
                                 <div ng-if="subject.user != null" class="col-xs-12 col-sm-12 col-md-12 pull-right" align="right" style="font-size: 14px; font-weight: 400; text-decoration: none !important;">analista de contenido: {{subject.user.name}} </div>
                                 <p class="col-xs-12 col-xs-offset-0 col-sm-12 col-md-12 ">{{subject.name}} </p>
                            </div>
                            <button class=" col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-4 col-lg-3 col-lg-offset-4 subjectButton" ui-sref="app.vdm.vdmList({id: subject.id})">MDT</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
