@media (min-width: 768px) {
    .col-sm-offset-0,
    .col-md-offset-0,
    .col-lg-offset-0 {
        margin-left: 0;
    }
}

.logo_img {
    height: 61px;
    margin-top: 18px;
}

.header-bg{
    background-color: #FFF;
}


.style_nav {
    margin-top: 7px;
    margin-left: 10px;
    font-size: medium;
    font-weight: bold;
    font-family: ubuntu, sans-serif;
}

#img-name-header{
    margin-top: 10px;
    margin-left: 0px;
}

#img-name-header .navbar-default {
    background-color: #FFF;
    border-bottom-color: #FFF;
    border-width: 0px 0px 0px 0px;
}

#img-name-header .navbar{
    margin-bottom: 0px;
}

#img-name-header .navbar-nav {
    margin: 26.5px 0px 0px 0px;
}

#img-name-header .nav{
    padding-left: 0em;
}

#img-name-header .navbar-nav>li>p {
    padding-left: 25px;
}
.dawereNav .dropdown-menu {
    background-color: #E6E7E8;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    /*left: -28px;*/
    left: 21px;
    padding: 0;
    top: 48px;
    width: 130px;
}
.dawereNav .dropdown-menu > li > a {
    text-align: center;
    font-weight: 300;
}
.dawereNav .dropdown-menu > li:last-child > a {
    background-color: #58595B;
    color: #FFF;
    font-weight: 700;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.dawereNav .dropdown-menu > li:last-child > a :hover {
    background-color: #135C61;
    color: #FFF;
}
#line_green {
    background-color: #E6E7E8;
    height: 8px;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-nav > li {
        float: left;
        margin-bottom: 12px;
    }
    .dawereNav .dropdown-menu {
        background-color: #E6E7E8;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        left: -28px;
        padding: 0;
        top: 46px;
    }
    .navbar-nav .open .dropdown-menu {
        /* position: static; */
        position: absolute;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #E6E7E8;
        border: 0;
        box-shadow: none;
        left: -28px;
        top: 46px;
    }
    .col-xxs-offset-1{
        margin-left: 1.333333%;
    }
}