.listItem{
    margin: 15px;
    min-height: 230px;
}

.listItemInnerWrap {
    width: 614px;
    border: 0 transparent;
    background-color: transparent;
}

.listItemWrapper {
    border: 0 transparent;
    background-color: transparent;
    padding-bottom: 1px;
}


.listItemInnerStyle {
    border-color: #787878;
    background-color: #E6E7E8;
    border-radius: 10px;
    padding: 17px;
}

.listItemInnerStyle:hover {
    background-color: #ADDBD8;
}

.listItemDescription {
    min-height: 29px;
    line-height: 29px;
    font-size: 24px;
    color: #58595B;
    font-family: ubuntu,sans-serif;
    font-weight: 700;
    border-color: #787878;
    background-color: #E6E7E8;
    border-radius: 10px;
    padding: 17px;
}

.listItemInnerWrapSmall {
    border: 0 transparent;
    background-color: transparent;
}

.listItemDescriptionSmall {
    line-height: 29px;
    font-size: 15px;
    color: #58595B;
    font-family: ubuntu,sans-serif;
    font-weight: 700;
    border-color: #787878;
    background-color: #E6E7E8;
    border-radius: 10px;
    padding: 17px;

}
.removeBtn{
    background-color: transparent;
    margin-top: -17px;
    position: relative;
    color: lightskyblue;
}

.removeBtn:hover{
    color: lightcoral;
}

.addBtn{
    background-color: transparent;
    position: relative;
    font-size: 46px;
    color: #3b3b3b;
    cursor:pointer;
}

.addBtn:hover{
    color: lightskyblue;
}

.saveBtn{
    background-color: transparent;
    position: relative;
    font-size: 34px;
    color: #3b3b3b;
    cursor:pointer;
}

.saveBtn:hover{
    color: lightskyblue;
}


.title_body{
    font-size: 15px;
    color: #58595B;
    font-family: ubuntu,sans-serif;
    font-weight: 700;
}
