<html>
  <h1>Lista de Videos asignados a producción</h1>
  <ul>
    <% if @vdmList != nil  %>
        <% if @vdmList.is_a?(Array) %>
            <% @vdmList.each do |vdm| %>
                <% if vdm.is_a?(Hash) %>
                  <li><%= vdm['videoId'] %> </li>
                <% else %>
                    <li><%= vdm.videoId %> </li>
                <%end%>
            <% end %>
        <% else %>
            <% if @vdmList.is_a?(Hash) %>
                <li><%= @vdmList['videoId'] %> </li>
            <% else %>
                <li><%= @vdmList.videoId %> </li>
            <%end%>
        <% end %>
    <% end %>
  </ul>
</html>