<html>
  <h1>Lista de Videos asignados a producción</h1>
  <ul>
    <% if @vdmList.count != nil  %>
      <% @vdmList.each do |pdpt| %>
        <li><%= pdpt.vdm_id %> </li>
      <% end %>
    <% else %>
      <li><%= @vdmList.vdm.videoId %></li>
    <% end %>
  </ul>
</html>