<span ng-if="currentRole == 'contentLeader'" ng-include="'views/dashboard/preProductionDashboard.html'" ng-controller="preProductionDashboardController"></span>
<span ng-if="currentRole == 'contentAnalist'" ng-include="'views/dashboard/contentAnalistDashboard.html'" ng-controller="preProductionDashboardController"></span>
<span ng-if="currentRole == 'production'" ng-include="'views/dashboard/productionDashboard.html'" ng-controller="productionDashboard"></span>
<span ng-if="currentRole == 'editor'" ng-include="'views/dashboard/editorDashboard.html'" ng-controller="editorDashboard"></span>
<span ng-if="currentRole == 'designLeader'" ng-include="'views/dashboard/designLeaderDashboard.html'" ng-controller="designLeaderDashboard"></span>
<span ng-if="currentRole == 'designer'" ng-include="'views/dashboard/designerDashboard.html'" ng-controller="designerDashboard"></span>
<span ng-if="currentRole == 'postProLeader'" ng-include="'views/dashboard/postProductionLeaderDashboard.html'" ng-controller="postProductionLeaderDashboard"></span>
<span ng-if="currentRole == 'post-producer'" ng-include="'views/dashboard/postProducerDashboard.html'" ng-controller="postProducerDashboard"></span>
<span ng-if="currentRole == 'productManager'" ng-include="'views/dashboard/productManagerDashboard.html'" ng-controller="productManagerDashboard"></span>
<span ng-if="currentRole == 'qa'" ng-include="'views/dashboard/qaDashboard.html'" ng-controller="qaDashboard"></span>
<span ng-if="currentRole == 'qa-analyst'" ng-include="'views/dashboard/qaAnalistDashboard.html'" ng-controller="qaAnalist"></span>




<div class="row center-block" style=" margin-top: 50px;">
    <!-- tile body -->
    <div class=" col-xs-12 col-xs-offset-0  col-sm-10 col-sm-offset-1  col-md-8  col-md-offset-2 col-lg-6  col-lg-offset-3">
        <!--<div ng-repeat tuitions in $grade>-->
        <div align="center" class="yearButtonContainer">
            <span ng-repeat="grade in grades">
                <button  class="yearButton" title="{{grade.name}}" name="{{grade.name}}" ui-sref="app.subjects({id:grade.id})">{{grade.name}}</button>
            </span>
            <!--<button  class="yearButton" title="Videos Dawere" name="Videos Dawere" ui-sref="app.vdm.dawereVdms">Dawere</button>-->
        </div>
    </div>
    <!-- /tile body -->

</div>