<style>
    .circle{
        width: 40px;
        height: 40px;
        line-height: 23px;
        font-size: 18px;
        color: #FFF;
        font-weight: 400;
        background-color: #307A78;
        border-radius: 50px;
    }


    .circle:hover{
        background-color: #369291;
        cursor: pointer;
    }

    .line{
        height: 3px;
        background-color: #307A78;
        margin-top: 17px;
        min-width: 8px;
    }

    .sectionBtn{
        font-size: 20px !important;
    }
</style>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 row" >
        <!--botones de los departamentos-->
        <div align="center">
            <div class="col-xs-1 col-xs-offset-2 col-sm-1 col-sm-offset-2 col-md-1 col-md-offset-2 col-lg-1 col-lg-offset-2 circle" title="Pre-produccion">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 circle" title="Produccion">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 circle">
                <div align="center" style="margin-top: 50%;"  title="Edicion">
                    <i class="fa fa-scissors" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 circle"  title="Diseño">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 circle"  title="Post-produccion">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-film" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 circle" title="Qa">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 row" >
        <!--botones de los departamentos-->
        <div align="center">
            <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-1 col-md-1 col-md-offset-1 col-lg-1 col-lg-offset-1 showBtn sectionBtn" title="Pre-produccion">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 showBtn sectionBtn" title="Produccion">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 showBtn sectionBtn" title="Edicion">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-scissors" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 showBtn sectionBtn" title="Diseño">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 showBtn sectionBtn" title="Post-produccion">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-film" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 showBtn sectionBtn" title="Qa">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>