<style>
    .circle{
        width: 40px;
        height: 40px;
        line-height: 23px;
        font-size: 18px;
        color: #FFF;
        font-weight: 400;
        background-color: #307A78;
        border-radius: 50px;
    }


    .circle:hover{
        background-color: #369291;
        cursor: pointer;
    }

    .line{
        height: 3px;
        background-color: #307A78;
        margin-top: 17px;
        min-width: 8px;
    }

    .sectionBtn{
        font-size: 20px !important;
    }
</style>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 row" >
        <!--botones de los departamentos-->
        <div align="center">
            <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-1 col-md-1 col-md-offset-1 col-lg-1 col-lg-offset-1 showBtn sectionBtn" title="Pre-produccion" ng-click="activateContentProgress()">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 showBtn sectionBtn" title="Produccion" ng-click="activateProductionProgress()">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 showBtn sectionBtn" title="Edicion" ng-click="activateEditorsProgress()">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-scissors" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 showBtn sectionBtn" title="Diseño" ng-click="activateDesignProgress()">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 showBtn sectionBtn" title="Post-produccion">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-film" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 showBtn sectionBtn" title="Qa">
                <div align="center" style="margin-top: 50%;">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-xs-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5 row" >
        <div align="center" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-left" title="Post-produccion">
            <div style="margin-top: 50%;">
                <i class="fa fa-film  showBtn sectionBtn" aria-hidden="true"></i>
            </div>
        </div>
        <div align="center" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right" title="Qa">
            <div style="margin-top: 50%;">
                <i class="fa fa-check  showBtn sectionBtn" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <span ng-if="progressContentActive" ng-include="'views/dashboard/report-tables/content-department.html'"></span>
    <span ng-if="progressContentAnalystsActive" ng-include="'views/dashboard/report-tables/content-analists.html'"></span>
    <span ng-if="progressProductionActive" ng-include="'views/dashboard/report-tables/production.html'"></span>
    <span ng-if="progressEditorsActive" ng-include="'views/dashboard/report-tables/editors.html'"></span>
    <span ng-if="progressDesignActive" ng-include="'views/dashboard/report-tables/design-department.html'"></span>
    <span ng-if="progressDesignersActive" ng-include="'views/dashboard/report-tables/designers.html'"></span>
    <span ng-if="progressPostProductionActive" ng-include="'views/dashboard/report-tables/post-production.html'"></span>
    <span ng-if="progressPostProducersActive" ng-include="'views/dashboard/report-tables/post-producers.html'"></span>
</div>