<section class="container-fluid">
    <div class="row col-md-10 col-md-offset-1">

        <div class="col-md-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.subjects({id:subject.grade_id})" class="">Materias</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>MDT'S</b></span></a>
                    <underlining></underlining>
                </span>
            </div>
        </div>


        <div class="tile-body">

            <button ng-click="tableParams.filter({})" class="btn btn-default pull-right" style="margin-bottom: 30px;">Limpiar Filtrado</button>
            <!-- <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
             <p><strong>Filter:</strong> {{tableParams.filter()|json}}-->

            <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="row in $data">
                    <td data-title="'N Objetivo general ME'" filter="{meGeneralObjective: 'number'}">{{row.cp.meGeneralObjective}}</td>
                    <td data-title="'N Objetivo especifico ME'" filter="{meSpecificObjective: 'number'}">{{row.cp.meSpecificObjective}}</td>
                    <td data-title="'Descripcion Objetivo especifico ME'">{{row.cp.meSpecificObjDesc}}</td>
                    <td data-title="'Nombre de tema'" filter="{topicName: 'text'}">{{row.cp.topicName}}</td>
                    <td data-title="'videoId'" filter="{videoId: 'text'}">{{row.videoId}}</td>
                    <td data-title="'Titulo'" filter="{videoTittle: 'text'}">{{row.videoTittle}}</td>
                    <td data-title="'Contenido'">{{row.videoContent}}</td>
                    <td data-title="'Estado'" filter="{status: 'text'}">{{row.status}}</td>
                    <td data-title="'Comentarios'">{{row.comments}}</td>
                    <td data-title="'Descripcion'">{{row.description}}</td>

                </tr>
            </table>

        </div>
    </div>
</section>