<section class="container-fluid">
    <div class="row col-md-10 col-md-offset-1">

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.subjects({id:subject.grade_id})" class="">Materias</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>MDT'S</b></span></a>
                    <underlining></underlining>
                </span>
            </div>
        </div>

        <span ng-if="currentRole == 'contentLeader'" ng-include="'views/VDM/preProductionVdm.html'" ng-controller="vdmsController"></span>
        <span ng-if="currentRole == 'production'" ng-include="'views/VDM/productionVdm.html'" ng-controller="vdmsController"></span>
        <span ng-if="currentRole == 'designLeader'" ng-include="'views/VDM/designDptVdm.html'" ng-controller="vdmsController"></span>
        <span ng-if="currentRole == 'editor'" ng-include="'views/VDM/editorVdm.html'" ng-controller="vdmsController"></span>
        <span ng-if="currentRole == 'designer'" ng-include="'views/VDM/designerVdm.html'" ng-controller="vdmsController"></span>

        <span ng-if="currentRole == 'productManager'" ng-include="'views/VDM/productManagementVdm.html'" ng-controller="vdmsController"></span>


    </div>

</section>