
<div class="container-fluid" >

    <div class="row col-md-11 col-md-offset-1">
        <div class="col-md-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>Materias</b></span></a>
                </span>
            </div>
            <p style="border-bottom: 5px solid #E6E7E8;">
                <span  style="color:rgb(231, 232, 233);"></span>
            </p>
            <div id="fbrdr" style="height: 5px; background-color: #ADDBD8; width:0px; position: relative ; top: -15px;"></div>
            <div id="sbrdr" style="height: 5px; background-color: #369291; width:0px; position: relative; top: -20px;left:100px;"></div>
            <div id="tbrdr" style="height: 5px; background-color: #135C60; width:0px; position: relative; top: -25px; left:200px;"></div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-10 col-md-offset-1">

            <div class="clearfix"></div>


            <div ng-repeat="subject in subjects" style="margin-bottom: 30px">
                <a class="nonblock nontext Button rounded-corners clearfix" ng-click="activateAssignmentInfo(item)">
                    <div class="listItemDescription col-md-6 col-md-offset-3 col-sm-4">
                        <p align="center">{{subject.name}} </p>
                        <div class="subjectOptions">
                            <button class="col-md-3 col-md-offset-1 subjectButton" ui-sref="app.preProduction.classesPlanification({id: subject.id})">Plan de clases</button>
                            <button class="col-md-3 subjectButton" ui-sref="app.vdm.vdmList({id: subject.id})">MDT</button>
                            <button class="col-md-3 subjectButton">Consolidación</button>

                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>



<script>
    setTimeout(function(){
        var total_width = document.getElementById("border-total-width");
        var color_width = total_width.offsetWidth/3;
        var first = document.getElementById("fbrdr");
        first.style.width = color_width + "px";
        first.style.left = "0";
        var second = document.getElementById("sbrdr");
        second.style.width = color_width + "px";
        second.style.left = color_width + "px";
        var third = document.getElementById("tbrdr");
        third.style.width = color_width + "px";
        third.style.left = (2*color_width) + "px";
    }, 2000);
</script>
