
<div class="container-fluid" >

    <div class="row col-md-11 col-md-offset-1">
        <div class="col-md-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>Materias</b></span></a>
                    <underlining></underlining>
                </span>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="clearfix"></div>
            <div class="row">
                <div ng-repeat="subject in subjects" style="margin-bottom: 30px" class="col-md-6 col-lg-6 col-sm-12 col-xs-12 row">
                    <a class="nonblock nontext Button rounded-corners clearfix" ng-click="activateAssignmentInfo(item)">
                        <div class="listItemDescription col-md-11 col-lg-11 col-sm-12 col-xs-12">
                            <p align="center">{{subject.name}} </p>
                            <div class="subjectOptions">
                                <button class="col-md-3 col-md-offset-1 subjectButton" ui-sref="app.preProduction.classesPlanification({id: subject.id})">Plan de clases</button>
                                <button class="col-md-3 subjectButton" ui-sref="app.vdm.vdmList({id: subject.id})">MDT</button>
                                <button class="col-md-3 subjectButton">Consolidación</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
