<style>
    @media (min-width: 992px){
     .smd {
     width: 83.33333333%;
    }

    }

</style>
<div class="container-fluid" >

    <div class="row col-md-10 col-md-offset-1">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>Materias</b></span></a>
                    <underlining></underlining>
                </span>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="clearfix"></div>
            <div ng-repeat="subject in subjects" style="margin-bottom: 30px">
                <div class="listItemDescription smd col-md-10 col-md-offset-1 col-lg-6 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 row">

                    <div class="subjectOptions">
                        <span ng-if="currentRole == 'contentLeader'" class="col-xs-offset-1 col-md-offset-1">
                             <div>
                                <p class="col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-4 col-md-6 col-md-offset-4">{{subject.name}} </p>
                            </div>
                            <button class="col-md-3 subjectButton" ui-sref="app.preProduction.classesPlanification({id: subject.id})">Plan de clases</button>
                            <button class="col-md-3 subjectButton" ui-sref="app.vdm.vdmList({id: subject.id})">MDT</button>
                            <button class="col-md-3 subjectButton">Consolidación</button>
                        </span>
                        <span ng-if="currentRole != 'contentLeader'">
                             <div align="center">
                                 <p class="col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-4 col-md-3 col-md-offset-4">{{subject.name}} </p>
                            </div>
                            <button class=" col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-2 col-md-3 col-md-offset-4 col-lg-3 col-lg-offset-4 subjectButton" ui-sref="app.vdm.vdmList({id: subject.id})">MDT</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
