<!-- tile -->
<section class="tile" fullscreen="isFullscreen02">

    <!-- tile header -->
    <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Lista  </strong>de planes de clase de la materia {{subject.name}}</h1>
    </div>
    <!-- /tile header -->

    <!-- tile body -->
    <div class="tile-body">

        <button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Limpiar Filtrado</button>
        <!-- <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
         <p><strong>Filter:</strong> {{tableParams.filter()|json}}-->

        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data">
                <td data-title="'N Objetivo general ME'" filter="{meGeneralObjective: 'number'}">{{row.meGeneralObjective}}</td>
                <td data-title="'N Objetivo especifico ME'" filter="{meSpecificObjective: 'number'}">{{row.meSpecificObjective}}</td>
                <td data-title="'Descripcion Objetivo especifico ME'" filter="{meSpeficicObjDesc: 'text'}">{{row.meSpeficicObjDesc}}</td>
                <td data-title="'Nombre de tema'" filter="{topicName: 'text'}">{{row.topicName}}</td>
                <td data-title="'Videos'" filter="{videos: 'text'}">{{row.videos}}</td>
                <td data-title="'Actualizar'"><a ng-click="updateClassPlanning"><i class="fa fa-pencil"></i></a></td>

            </tr>
        </table>

    </div>
    <!-- /tile body -->

</section>
<!-- /tile -->