<form class="form-container">
    <div class="form-title"><h1>Matriz de planificacion de tema (MDT)</h1></div>
    <div class="form-title">Numero Objetivo General</div>
    <input class="form-field" type="text" name="meGeneralObjetive" /><br/>
    <div class="form-title">Numero Objetivo Especifico</div>
    <input class="form-field" type="text" name="meSpecificObjetive" /><br/>
    <div class="form-title">Enunciado Objetivo Especifico ME</div>
    <input class="form-field" type="text" name="meSpeficicObjDesc" /><br/>
    <div class="form-title">Numero de videos</div>
    <input class="form-field" type="text" name="videos" /><br/>
    <div class="submit-container">
        <input class="submit-button" type="submit" value="Crear" />
    </div>
</form>