<section class="container-fluid">
    <div class="row col-md-10 col-md-offset-1">

        <div class="col-md-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>Crear plan de clases</b></span></a>
                    <underlining></underlining>
                </span>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row center-block" style=" margin-top: 50px;">
           <select id="grades" ng-model="grades" ng-option="grade.name for grade in grades">
                <option value="">-- Selecciona --</option>
            </select>
            <!--<div class="col-lg-6 col-md-6 col-sm-8 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-3">
                &lt;!&ndash;<div ng-repeat tuitions in $grade>&ndash;&gt;
                <div align="center" class="yearButtonContainer">
                <span ng-repeat="grade in grades">
                    <button  class="yearButton" title="{{grade.name}}" name="{{grade.name}}" ui-sref="app.subjects({id:grade.id})">{{grade.name}}</button>
                </span>
                </div>
            </div>-->

        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row" ng-if="toggle==true">
            <table class="table table-condensed table-bordered table-striped col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <tr ng-repeat="cp in cps">
                    <td data-title="'N Objetivo general ME'" ><input type="text" ng-model="cp.meGeneralObjective"></td>
                    <td data-title="'N Objetivo especifico ME'"><input type="text" ng-model="cp.meSpecificObjective"></td>
                    <td data-title="'Descripcion Objetivo especifico ME'"><input type="text" ng-model="cp.meSpecificObjDesc"></td>
                    <td data-title="'Nombre de tema'"><input type="text" ng-model="cp.topicName"></td>
                    <td data-title="'Videos'"><input type="number" ng-model="cp.videos"></td>
            </table>
            <div class="row">
                <div align="center">
                    <button>Guardar</button>
                </div>
            </div>
        </div>



    </div>
    </div>
</section>
<div class="container-fluid" >
    <form class="form-container">
        <div class="form-title"><h1>Plan de clases</h1></div>
        <div class="form-title"><h4>Datos del profesor</h4></div>
        <div class="form-title">Primer nombre del profesor</div>
        <input class="form-field" type="text" name="firstName" /><br/>
        <div class="form-title">Segundo nombre del profesor</div>
        <input class="form-field" type="text" name="middleName" /><br/>
        <div class="form-title">Apellido del profesor</div>
        <input class="form-field" type="text" name="lastName" /><br/>
    <!--    <div class="form-title">Segundo apellido del profesor</div>
        <input class="form-field" type="text" name="secondLastName" /><br/>-->
        <div class="form-title">Cedula del profesor</div>
        <input class="form-field" type="text" name="personalId" /><br/>
        <div class="form-title">Curriculum Largo </div>
        <textarea class="form-field" type="text" name="cvLong" /><br/>
        <div class="form-title">Curriculum Corto</div>
        <textarea class="form-field" type="text" name="cvShort"></textarea><br/>

        <div class="form-title">Numero Objetivo General</div>
        <input class="form-field" type="text" name="meGeneralObjetive" /><br/>
        <div class="form-title">Numero Objetivo Especifico</div>
        <input class="form-field" type="text" name="meSpecificObjetive" /><br/>
        <div class="form-title">Enunciado Objetivo Especifico ME</div>
        <input class="form-field" type="text" name="meSpeficicObjDesc" /><br/>
        <div class="form-title">Nombre del tema MDT</div>
        <input class="form-field" type="" name="topicName" /><br/>
        <div class="form-title">Numero de videos</div>
        <input class="form-field" type="text" name="videos" /><br/>

        <div class="submit-container">
            <input class="submit-button" type="submit" value="Crear" />
        </div>
    </form>
</div>