<section class="container-fluid">
    <div class="row col-md-10 col-md-offset-1">

        <div class="col-md-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>Crear plan de clases</b></span></a>
                    <underlining></underlining>
                </span>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-1" style=" margin-top: 50px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                <div class="form-title"><h4>Seleccione Materia</h4></div>
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Año escolar: </label>
                <select id="grade" ng-model="grade" ng-options="completeGrade as completeGrade.grade.name for completeGrade in completeGrades" style="height:2.2em; margin-top: 6px;" class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <option value="">Selecciona</option>
                </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Materia: </label>
                <select id="subject" ng-model="data.subjectId" ng-options="subject.id as subject.name for subject in grade.subjects" style="height:2.2em; margin-top: 6px;" class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <option value="">Selecciona</option>
                </select>
            </div>
            <div class="col-md-12 row">
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Indique numero de temas: </label>
                <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7" type="number" ng-model="topicQuantity" />
            </div>

            <div class="form-title"><h4>Datos del profesor</h4></div>
            <div class="col-md-12 row">
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Primer nombre: </label>
                <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7" type="text" ng-model="data.teacher.firstName" />
            </div>

            <div class="col-md-12 row">
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Segundo nombre: </label>
                <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7" type="text" ng-model="data.teacher.middleName" />
            </div>

            <div class="col-md-12 row">
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Apellido: </label>
                <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7" type="text" ng-model="data.teacher.lastName" />
            </div>

            <div class="col-md-12 row">
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Cedula: </label>
                <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7" type="text" ng-model="data.teacher.personalId" />
            </div>

            <div class="col-md-12 row" style="margin-bottom: 15px">
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Curriculum corto: </label>
                <textarea class="col-lg-7 col-md-7 col-sm-7 col-xs-7" type="text" ng-model="data.teacher.cvShort"></textarea>
            </div>

            <div class="col-md-12 row" style="margin-bottom: 25px;">
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Curriculum largo: </label>
                <textarea  class="col-lg-7 col-md-7 col-sm-7 col-xs-7" type="text" ng-model="data.teacher.cvLong"></textarea>
            </div>


            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3" style="margin-top: 30px; margin-bottom: 30px;" ng-if="toggle!=true">
                <div align="center">
                    <a class="prettyLinkBig" ng-click="generateClassesPlanification(topicQuantity, cps)">Generar plan de clases <i class="fa fa-file-text-o" aria-hidden="true" style="font-size: 30px"></i></a>
                </div>
            </div>

        </div>

        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 row" ng-if="toggle==true">
            <table style="position: relative;" class="table table-condensed table-bordered table-striped col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <tr>
                    <th>Item</th>
                    <th>N° Objetivo general ME</th>
                    <th>N° Objetivo especifico ME</th>
                    <th>Descripcion Objetivo especifico ME</th>
                    <th>Nombre de tema para MDT</th>
                    <th>N° de videos</th>
                    <th>Acciones</th>
                </tr>
                <tr ng-repeat="cp in cps">
                    <td style="vertical-align:middle">
                        <div align="center">
                            {{$index+1}}
                        </div>
                    </td>
                    <td><input type="text" ng-model="cp.meGeneralObjective" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
                    <td><input type="text" ng-model="cp.meSpecificObjective" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
                    <td><textarea type="text" ng-model="cp.meSpecificObjDesc" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></textarea></td>
                    <td><input type="text" ng-model="cp.topicName" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
                    <td><input type="number" ng-model="cp.videos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
                    <td style="vertical-align:middle">
                        <div align="center">
                            <a ng-click="add(cps)" title='agregar video a este tema'>
                                <i class="fa fa-plus-circle addBtn" aria-hidden="true" style="font-size: 15px" ng-if="$index==(cps.length-1)"></i>
                            </a><span style="font-size: 20px" ng-if="$index==(cps.length-1)">|</span>

                            <a ng-click="remove(cp, cps)" title='eliminar'>
                                <i class="fa fa-minus-circle removeBtn" aria-hidden="true" style="font-size: 15px"></i>
                            </a>
                        </div>
                    </td>
            </table>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4" ng-if="toggle==true" style="margin-top: 30px; margin-bottom: 30px;">
            <div align="center">
                <a class="prettyLinkBig" ng-click="save(data, cps)">Guardar <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 30px"></i></a>
            </div>
        </div>

    </div>
</section>



