<form class="form-container">
    <div class="form-title"><h1>Plan de clases</h1></div>
    <div class="form-title"><h4>Datos del profesor</h4></div>
    <div class="form-title">Primer nombre del profesor</div>
    <input class="form-field" type="text" name="firstName" /><br/>
    <div class="form-title">Segundo nombre del profesor</div>
    <input class="form-field" type="text" name="middleName" /><br/>
    <div class="form-title">Apellido del profesor</div>
    <input class="form-field" type="text" name="lastName" /><br/>
<!--    <div class="form-title">Segundo apellido del profesor</div>
    <input class="form-field" type="text" name="secondLastName" /><br/>-->
    <div class="form-title">Cedula del profesor</div>
    <input class="form-field" type="text" name="personalId" /><br/>
    <div class="form-title">Curriculum Largo </div>
    <input class="form-field" type="text" name="cvLong" /><br/>
    <div class="form-title">Curriculum Corto</div>
    <input class="form-field" type="text" name="cvShort" /><br/>

    <div class="form-title">Numero Objetivo General</div>
    <input class="form-field" type="text" name="meGeneralObjetive" /><br/>
    <div class="form-title">Numero Objetivo Especifico</div>
    <input class="form-field" type="text" name="meSpecificObjetive" /><br/>
    <div class="form-title">Enunciado Objetivo Especifico ME</div>
    <input class="form-field" type="text" name="meSpeficicObjDesc" /><br/>
    <div class="form-title">Nombre del tema MDT</div>
    <input class="form-field" type="" name="topicName" /><br/>
    <div class="form-title">Numero de videos</div>
    <input class="form-field" type="text" name="videos" /><br/>

    <div class="submit-container">
        <input class="submit-button" type="submit" value="Crear" />
    </div>
</form>