<section class="container-fluid">
    <div class="row col-md-10 col-md-offset-1">

        <div class="col-md-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>Crear plan de clases</b></span></a>
                    <underlining></underlining>
                </span>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-1" style=" margin-top: 50px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                <div class="form-title"><h4>Datos de la materia</h4></div>
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Año escolar: </label>
                <select id="grade" ng-model="grade" ng-options="completeGrade as completeGrade.grade.name for completeGrade in completeGrades" style="height:2.2em; margin-top: 6px;" class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <option value="">Selecciona</option>
                </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Materia: </label>
                <select id="subject" ng-model="subject" ng-options="subject as subject.name for subject in grade.subjects" style="height:2.2em; margin-top: 6px;" class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <option value="">Selecciona</option>
                </select>
            </div>
            <div class="col-md-12 row">
                <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Seleccione numero de temas: </label>
                <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-field" type="number" ng-model="subjectTopics" />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                <div class="form-title"><h4>Datos del profesor</h4></div>
                <div class="col-md-12 row">
                    <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Primer nombre: </label>
                    <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-field" type="text" ng-model="teacher.firstName" />
                </div>
                <div class="col-md-12 row">
                    <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Segundo nombre: </label>
                    <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-field" type="text" ng-model="teacher.middleName" />
                </div>
                <div class="col-md-12 row">
                    <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Apellido: </label>
                    <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-field" type="text" ng-model="teacher.lastName" />
                </div>
                <!--<label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Segundo apellido: </label>
                <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-field" type="text" ng-model="teacher.secondLastName" />-->
                <div class="col-md-12 row">
                    <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Cedula: </label>
                    <input class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-field" type="text" ng-model="teacher.personalId" />
                </div>
                <div class="col-md-12 row" style="margin-bottom: 15px;">
                    <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Curriculum corto: </label>
                    <textarea class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-field" type="text" ng-model="teacher.cvShort"></textarea>
                </div>
                <div class="col-md-12 row" style="margin-bottom: 15px;">
                    <label class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height:2.2em; margin-top: 6px;" >Curriculum largo: </label>
                    <textarea  class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-field" type="text" ng-model="teacher.cvLong"></textarea>
                </div>
            </div>

            <div class="row">
                <div align="center">
                    <button ng-click="generateClassesPlanification(subjectTopics, cps)" ng-if="toggle != true">Generar plan de clases</button>
                </div>
            </div>

        </div>

        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row" ng-if="toggle==true">
            <table style="position: relative;" class="table table-condensed table-bordered table-striped col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <tr>
                    <th>Item</th>
                    <th>N° Objetivo general ME</th>
                    <th>N° Objetivo especifico ME</th>
                    <th>Descripcion Objetivo especifico ME</th>
                    <th>Nombre de tema para MDT</th>
                    <th>N° de videos</th>
                    <th>Acciones</th>
                </tr>
                <tr ng-repeat="cp in cps">
                    <td>{{$index+1}}</td>
                    <td data-title="'N° Objetivo general ME'" ><input type="text" ng-model="cp.meGeneralObjective"></td>
                    <td data-title="'N° Objetivo especifico ME'"><input type="text" ng-model="cp.meSpecificObjective"></td>
                    <td data-title="'Descripcion Objetivo especifico ME'"><input type="text" ng-model="cp.meSpecificObjDesc"></td>
                    <td data-title="'Nombre de tema para MDT'"><input type="text" ng-model="cp.topicName"></td>
                    <td data-title="'N° de videos'"><input type="number" ng-model="cp.videos"></td>
                    <td><a ng-click="addCp(cp)" title='Agregar tema a este plan de clases'>
                        <i class="fa fa-plus-circle" aria-hidden="true" ng-if="$index==(cps.length-1)"></i></a>
                        </a><span>|</span>
                    </td>
            </table>
            <div class="row">
                <div align="center">
                    <button>Guardar</button>
                </div>
            </div>
        </div>
    </div>
</section>



