.yearButton {
    font-family: ubuntu,sans-serif;
    border: 0 transparent;
    color: #58595B;
    font-size: 1.5em;
    background: #E6E7E8;
    padding: 1em 1em 1em 1em;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.yearButton:hover {
    background-color: #787878;
    text-decoration: none;
    color: #ffffff;
}


.yearButtonContainer {
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    margin: 0.5em;
}

.createButton {
    font-family: ubuntu,sans-serif;
    border: 0 transparent;
    color: #58595B;
    font-size: 1em;
    bottom: 2em;
    background: #E6E7E8;
    text-decoration: none;
}
.createButton:hover {
    background-color: #787878;
    text-decoration: none;
    color: #ffffff;
}

.subjectButton {
    font-family: ubuntu,sans-serif;
    border: 0 transparent;
    color: #58595B;
    font-size: 12px;
    background: #E6E7E8;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    border-radius: 10px;
    /*margin-right: 20px;*/
}

.subjectButton:hover {
    background-color: #787878;
    text-decoration: none;
    color: #ffffff;
}

.buttonsContainer{
    padding-bottom: 0.5em;
    margin-bottom: auto;
    position: relative;
}

.prettyLinkBig{
    cursor: pointer;
    color: #787878;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none !important;
}

.prettyLinkBig:hover{
    font-size: 25px;
    color: lightskyblue;
    font-weight: 400;
    text-decoration: none !important;
}

.prettyLinkSmall{
    cursor: pointer;
    color: #787878;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none !important;
}

.prettyLinkSmall:hover{
    font-size: 14px;
    color: lightskyblue;
    font-weight: 200;
    text-decoration: none !important;
}

.logoutButtonHover:hover{
    background-color: #369291 !important;
    font-weight: 600 !important;
}
.buttonHover:hover{
    font-weight: 400 !important;
    color: black  !important;
}

.deptBox{
    min-height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}