#tittle_login {
    line-height: 36px;
    text-align: center;
    font-size: 30px;
    color: #206469;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
    margin-top: 35px;
}

.button_signup {

    background-color: #359391;
    border-radius: 2px;
    padding: 8px 10px 4px 10px;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF !important;
    font-family: ubuntu, sans-serif;
    font-weight: 700 !important;
    margin-top: 30px;
    margin-bottom: 20px;
    float:left !important;
}

.background{
    height: 200px;
}
#box_login {
    background-color: #ADDBD8;
    border-radius: 8px;
    margin-top: -115px;
}
body{
    height: 100%;
    overflow: auto;
}

#email_user {
    min-height: 14px;
    border-color: #C4C4C4;
    background-color: #F1F2F2;
    border-radius: 3px;
    padding: 0px 0px 21px 0px;
    line-height: 14px;
    color: #58595B;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 40px;
}

.input-user{/*
        background-color: transparent;*/
    height: 22px;
    border-radius: 2px;
    margin-bottom: 20px;
}


#password_login {
    min-height: 14px;
    border-color: #C4C4C4;
    background-color: #F1F2F2;
    border-radius: 2px;
    padding: 8px 0px 22px 8px;
    line-height: 14px;
    color: #58595B;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 10px;

}