tr:hover{
    border: 2px solid darkgrey !important;
}
.disabled {
    cursor: not-allowed;
    pointer-events: none !important;
    text-decoration: none !important;
}

a:hover, a:focus {
    text-decoration: none;
}

.itemPresent{
    color: lightskyblue;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none !important;
}

.itemMissing{
    color: #c9302c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none !important;
}

.sk-cube-grid {
    width: 100px;
    height: 100px;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #135C60;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}
.shadowBox{
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.7;
    z-index: 100 !important;
}

.centered{
    position: fixed !important;
    left: 45%;
    top: 40%;
    z-index: 100;
}

.over-x{
    overflow-x: auto;
}

.active{
    background-color: #135C60;
    color: white !important;
}

.active:hover{
    background-color: #008762 !important;
}

.daterangepicker .input-mini.active {
    border: 1px solid #08c;
    border-radius: 4px;
    color: black !important;
}