.tittleWrap{
    line-height: 60px;
    font-size: 50px;
    color: #E7E8E9;
    font-family: ubuntu, sans-serif;
    font-weight: 300;
}

.underlining1 {
    width: 125px;
    height: 5px;
    background-color: #ADDBD8;
}

.underlining2 {
    width: 125px;
    height: 5px;
    background-color: #369291;
    margin-left: 125px;
    margin-top: -5px;
}

.underlining3 {
    width: 125px;
    height: 5px;
    background-color: #135C60;
    margin-left: 250px;
    margin-top: -5px;
}

.underliningWrapper {
    width: 100%;
    background-color: #E6E7E8;
    height: 5px;
    margin-bottom: 5px;
}
.tittle {
    color: #58595B;
    font-size: 36px;
    line-height: 60px;
    font-family: ubuntu,sans-serif;
    font-weight: 500;
}


.withoutOver {
    text-decoration: none;
    color: #787878;
    font-weight: 200;
    cursor:default;
}

.withoutOver a:hover{
    text-decoration: none;
    color: #787878;
    font-weight: 200;
    cursor:default;
}
