<!-- Designer role Vdm View-->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <button ng-click="tableParams.filter({})" class="btn btn-default pull-right" style="margin-bottom: 30px;">Limpiar Filtrado</button>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 over-x">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data">

                <td data-title="'Id video'" filter="{videoId: 'text'}" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">{{row.videoId}}</td>
                <td data-title="'Titulo'" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 ">
                        {{row.videoTittle | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Estado'" filter="{status: 'text'}" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.status == null">
                        no asignado
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.status != null">
                        {{row.designDept.status}}
                    </div>
                </td>
                <td data-title="'Asignado a'" filter="{designResponsable: 'text'}" ng-if="row.writable != true" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.assignment == null">
                        sin diseñador
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.assignment != null">
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.assignment.assignedName == null">
                            sin diseñador
                        </div>
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.assignment.assignedName != null">
                            {{row.designDept.assignment.assignedName}}<br>
                            status: {{row.designDept.assignment.status}}
                        </div>
                    </div>
                </td>
                <td data-title="'Asignado a'" ng-if="row.writable == true"  style="vertical-align:middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row">
                    <div align="center">
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.assignment != null">
                            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.assignment.assignedName == null || row.prodDept.assignment.changeDesigner == true">
                                <a  ng-click="row.prodDept.assignment.changeDesigner = false" title='cerrar' ng-if="row.prodDept.assignment.changeDesigner == true">
                                    <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                                </a>
                                <select ng-model="row.dAsigned" ng-options="employee as employee.name for employee in employees | roles:['designer']" style="height:2.2em; margin-top: 6px;" ng-disabled="row.prodDept.assignment.user_id != null">
                                    <option value="#">No especifico</option>
                                </select>
                            </div>
                            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.assignment.assignedName != null && row.prodDept.assignment.changeDesigner != true">
                                <a  ng-click="row.prodDept.assignment.changeDesigner = true" title='cambiar editor'>
                                    <i class="fa fa-users showBtn" aria-hidden="true" style="font-size: 15px"></i>
                                </a><br><br>
                                {{row.designDept.assignment.assignedName}}<br>
                                status: {{row.designDept.assignment.status}}
                            </div>
                        </div>
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.assignment == null">
                            <select ng-model="row.dAsigned" ng-options="employee as employee.name for employee in employees | roles:['designer']" style="height:2.2em; margin-top: 6px;" ng-disabled="row.designDept.assignment.user_id != null">
                                <option value="#">No especifico</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td data-title="'Comentarios'" ng-if="row.writable != true" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.comments != null">
                        {{row.designDept.comments | limitTo : 300}}...
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.designDept.comments == null">
                        {{row.prodDept.comments | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Comentarios'" ng-if="row.writable == true" class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><textarea style="width: 100%; height: 150px; font-weight: bold"  type="text" ng-model="row.designDept.comments"></textarea></td>

                <td data-title="'Acciones'" ng-if="row.writable != true" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row" style="vertical-align:middle">
                    <div align="center">
                        <a ng-click="approve(row, 'lider de diseño', 'design')" title='aprobar' ng-if="row.designDept.assignment != null && row.designDept.assignment.status == 'diseñado'">
                            <i class="fa fa-thumbs-o-up approveBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.designDept.assignment != null && row.designDept.assignment.status == 'diseñado'">|</span>
                        <a ng-click="reject(row, 'design')" title='rechazar' ng-if="row.designDept.assignment != null && row.designDept.assignment.status == 'diseñado'">
                            <i class="fa fa-undo returnBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.designDept.assignment != null && row.designDept.assignment.status == 'diseñado'">|</span>

                        <a ng-click="editRow(row)" title='editar' ng-if="row.designDept.status != null &&  row.designDept.status != 'aprobado' && row.designDept.status != 'no asignado'">
                            <i class="fa fa-pencil editBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.designDept.status != null &&  row.designDept.status != 'aprobado' && row.designDept.status != 'no asignado'">|</span>
                        <a ng-click="editRow(row)" title='editar' ng-if="row.designDept.assignment.status == 'rechazado'">
                            <i class="fa fa-pencil editBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.designDept.assignment.status == 'rechazado'">|</span>
                        <a ui-sref="app.vdm.showVdm({id:row.id})" title='ver detalle'>
                            <i class="fa fa-eye showBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>

                    </div>
                </td>
                <td data-title="'Acciones'" ng-if="row.writable == true"  style="vertical-align:middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div align="center">
                        <a ng-click="saveVdm(row)" title='guardar' ng-if="row.designDept.status != 'aprobado'" ng-class="{disabled: disableSave == true}">
                            <i class="fa fa-floppy-o saveBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.designDept.status != 'aprobado'">|</span>
                        <a ng-click="saveVdm(row)" title='guardar' ng-if="row.designDept.status == 'aprobado' && row.designDept.assignment.status == 'rechazado'" ng-class="{disabled: disableSave == true}">
                            <i class="fa fa-floppy-o saveBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.designDept.status == 'aprobado' && row.designDept.assignment.status == 'rechazado'">|</span>
                        <a ng-click="close(row, $data)" title='cerrar'>
                            <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- ---End--- Designer role Vdm View-->