<!--Editor role Vdm View-->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <button ng-click="tableParams.filter({})" class="btn btn-default pull-right" style="margin-bottom: 30px;">Limpiar Filtrado</button>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 over-x">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data | orderBy : row.videoId">
                <td data-title="'Id video'" filter="{videoId: 'text'}" ng-if="row.writable != true" style="vertical-align: middle"><div align="center">{{row.videoId}}</div></td>
                <td data-title="'Titulo'" ng-if="row.writable != true" style="vertical-align: middle">
                    <div align="center">
                        {{row.videoTittle | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Estado'" filter="{status: 'text'}" ng-if="row.writable != true" style="vertical-align: middle">
                    <div ng-if="row.prodDept.assignment.status == null" align="center">
                        {{row.prodDept.status}}
                    </div>
                    <div ng-if="row.prodDept.assignment.status != null" align="center">
                        {{row.prodDept.assignment.status}}
                    </div>
                </td>
                <td data-title="'Comentarios'" ng-if="row.writable != true" style="vertical-align: middle">
                    <div ng-if="row.prodDept.assignment.comments == null" align="center">
                        {{row.prodDept.comments}}...
                    </div>
                    <div ng-if="row.prodDept.assignment.comments != null" align="center">
                        {{row.prodDept.assignment.comments}}...
                    </div>
                </td>
                <td data-title="'Archivos'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div class="itemMissing" ng-if="row.prodDept.assignment.video_clip.url == null && row.prodDept.assignment.premier_project.url == null">
                        No Posee
                    </div>
                    <div class="itemPresent" ng-if="row.prodDept.assignment.video_clip.url != null || row.prodDept.assignment.premier_project.url != null">
                        <div ng-if="row.prodDept.assignment.video_clip.url != null">
                            <h4>Video Clip</h4>
                            <div>
                                <a ng-href="{{downloadRoot + row.prodDept.assignment.video_clip.url}}" download class="prettyLinkSmall">&#x25CF;{{row.prodDept.assignment.video_clip_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="row.prodDept.assignment.premier_project.url != null">
                            <h4>Proyecto Premier</h4>
                            <div>
                                <a ng-href="{{downloadRoot + row.prodDept.assignment.premier_project.url}}" download class="prettyLinkSmall">&#x25CF;{{row.prodDept.assignment.premier_project_name}}</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </td>
                <td data-title="'Acciones'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div align="center">
                        <a ng-click="editRow(row)" title='editar' ng-if="row.prodDept.assignment.status != 'editado' && row.prodDept.assignment.status != 'aprobado'">
                            <i class="fa fa-pencil editBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.prodDept.assignment.status != 'editado' && row.prodDept.assignment.status != 'aprobado'">|</span>

                        <a ui-sref="app.vdm.showVdm({id:row.id})" title='ver detalle'>
                            <i class="fa fa-eye showBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                    </div>
                </td>

                <td data-title="'Id video'" ng-if="row.writable == true" style="vertical-align: middle"><div align="center">{{row.videoId}}</div></td>
                <td data-title="'Titulo'" ng-if="row.writable == true" style="vertical-align:middle"><div align="center">{{row.videoTittle}}</div></td>
                <td data-title="'Estado'" ng-if="row.writable == true"  style="vertical-align:middle">
                    <div align="center">
                        <select ng-model="row.assignmentStatus" ng-options="state.statusSpa as state.statusSpa for state in editorStates" style="height:2.2em; margin-top: 6px;" >
                            <option value="#">No especifico</option>
                        </select>
                    </div>

                </td>
                <td data-title="'Comentarios'" ng-if="row.writable == true" style="vertical-align: middle">
                    <div>
                        <textarea style="width: 100%; height: 150px; font-weight: bold"  type="text" ng-model="row.prodDept.assignment.comments"></textarea>
                    </div>
                </td>
                <td data-title="'Archivos'" ng-if="row.writable == true" style="vertical-align:middle">
                    <div class="itemMissing" ng-if="row.prodDept.assignment.video_clip.url == null && row.prodDept.assignment.premier_project.url == null">
                        No Posee
                    </div>
                    <div class="itemPresent" ng-if="row.prodDept.assignment.video_clip.url != null || row.prodDept.assignment.premier_project.url != null">
                        <div ng-if="row.prodDept.assignment.video_clip.url != null">
                            <h4>Video Clip</h4>
                            <div>
                                <a ng-href="{{downloadRoot + row.prodDept.assignment.video_clip.url}}" download class="prettyLinkSmall">&#x25CF;{{row.prodDept.assignment.video_clip_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="row.prodDept.assignment.premier_project.url != null">
                            <h4>Proyecto Premier</h4>
                            <div>
                                <a ng-href="{{downloadRoot + row.prodDept.assignment.premier_project.url}}" download class="prettyLinkSmall">&#x25CF;{{row.prodDept.assignment.premier_project_name}}</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </td>
                <td data-title="'Acciones'" ng-if="row.writable == true"  style="vertical-align:middle">
                    <div align="center" ng-if="row.uploadFiles != true">
                        <a id="prodSave" ng-click="saveVdmEditor(row)" title='guardar' ng-if="row.prodDept.assignment.status != 'editado' && row.prodDept.assignment.status != 'aprobado'" ng-class="{disabled: disableSave == true}">
                            <i class="fa fa-floppy-o saveBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.prodDept.assignment.status != 'editado'">|</span>
                        <a ng-click="row.uploadFiles = true" ng-if="row.prodDept.assignment.status != 'editado'" title="subir archivos">
                            <i class="fa fa-cloud-upload uploadBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.prodDept.assignment.status != 'editado'">|</span>
                        <a ng-click="close(row, $data)" title='cerrar'>
                            <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                    </div>
                    <div align="center" ng-if="row.uploadFiles == true">

                        <i class="fa fa-film uploadBtn" aria-hidden="true" style="font-size: 15px" id="uploadVideoClip" ngf-select="uploadEditionFiles($file, row, 'video_clip')" name="videoClip" title="subir video clip">
                        </i>
                        <span style="font-size: 20px"> |</span>
                        <i class="fa fa-file-o uploadBtn" aria-hidden="true" style="font-size: 15px" id="uploadPremierProject" ngf-select="uploadEditionFiles($file, row, 'premier')" name="premierProject" title="subir proyecto premier">
                        </i><span style="font-size: 20px"> |</span>
                        <a ng-click="row.uploadFiles = false" title='cerrar'>
                            <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- ---End--- Editor role Vdm View-->