<!--PreProduction role Vdm View-->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="currentRole == 'contentLeader' || currentRole == 'contentAnalist'">
    <button ng-click="tableParams.filter({})" class="btn btn-default pull-right" style="margin-bottom: 30px;">Limpiar Filtrado</button>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row over-x">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data">

                <td data-title="'Tema'" filter="{topicName: 'text'}" ng-if="row.writable != true" style="vertical-align:middle"><div align="center">{{row.cp.topicName}}</div></td>
                <td data-title="'Id video'" filter="{videoId: 'text'}" ng-if="row.writable != true" style="vertical-align:middle"><div align="center">{{row.videoId}}</div></td>
                <td data-title="'N Tema'" filter="{topicNumber: 'text'}" ng-if="row.writable != true" style="vertical-align:middle"><div align="center">{{row.cp.topicNumber}}</div></td>

                <td data-title="'Titulo'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div>
                        {{row.videoTittle | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Contenido'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div>
                        {{row.videoContent | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Archivos'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div class="itemMissing" ng-if="row.classDoc.url == null && row.teacherFiles.length < 1">
                        No Posee
                    </div>
                    <div class="itemPresent" ng-if="row.classDoc.url != null || row.teacherFiles.length >= 1">
                        <div ng-if="row.classDoc.url != null">
                            <h4>Documento de clase</h4>
                            <div>
                                <a href="{{uploadFolder + row.classDoc.url}}" download class="prettyLinkSmall">&#x25CF;{{row.class_doc_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="row.teacherFiles.length >= 1">
                            <h4>Material de Profesor</h4>
                            <div ng-repeat="file in row.teacherFiles">
                                <a href="{{uploadFolder + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div><br>
                        </div>
                    </div>
                </td>
                <td data-title="'Estado'" filter="{status: 'text'}" ng-if="row.writable != true" style="vertical-align:middle"><div align="center">{{row.status | translate}}</div></td>
                <td data-title="'Tipo'" filter="{vdm_type: 'text'}" ng-if="row.writable != true" style="vertical-align:middle"><div align="center">{{row.vdm_type}}</div></td>

                <td data-title="'Comentarios'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div>
                        {{row.comments | limitTo : 300}}...
                    </div>
                </td>

                <td data-title="'Acciones'" ng-if="row.writable != true" class="row" style="vertical-align:middle">
                    <div align="center">
                        <a ng-click="editRow(row)" title='editar'>
                            <i class="fa fa-pencil editBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px">|</span>

                        <a ng-click="add(row, $data)" title='agregar video a este tema'>
                            <i class="fa fa-plus-circle addBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px">|</span>

                        <a ui-sref="app.vdm.showVdm({id:row.id})" title='ver detalle'>
                            <i class="fa fa-eye showBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>

                    </div>
                </td>

                <td data-title="'Tema'" filter="{topicName: 'text'}" ng-if="row.writable == true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row" style="vertical-align:middle">{{row.cp.topicName}}</td>
                <td data-title="'Id video'" ng-if="row.writable == true" style="vertical-align:middle">{{row.videoId}}</td>
                <td data-title="'N Tema'" filter="{topicNumber: 'text'}" ng-if="row.writable == true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row" style="vertical-align:middle">{{row.cp.topicNumber}}</td>
                <td data-title="'Titulo'" ng-if="row.writable == true" style="vertical-align:middle" style="vertical-align:middle"><input type="text"  style="font-weight: bold"  ng-model="row.videoTittle"/></td>
                <td data-title="'Contenido'" ng-if="row.writable == true" style="vertical-align:middle"><textarea style="width: 100%; height: 150px; font-weight: bold" type="text" ng-model="row.videoContent"></textarea></td>
                <td data-title="'Archivos'" ng-if="row.writable == true" class="row" style="vertical-align:middle">

                    <div class="itemMissing" ng-if="row.classDoc.classDoc.url == null && row.teacherFiles.length < 1">
                        No Posee
                    </div>
                    <div class="itemPresent" ng-if="row.classDoc.url != null || row.teacherFiles.length >= 1">
                        <div ng-if="row.classDoc.url != null">
                            <h4>Documento de clase</h4>
                            <div>
                                <a href="{{uploadFolder + row.classDoc.url}}" download class="prettyLinkSmall">&#x25CF;{{row.class_doc_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="row.teacherFiles.length >= 1">
                            <h4>Material de Profesor</h4>
                            <div ng-repeat="file in row.teacherFiles">
                                <a href="{{uploadFolder + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div><br>
                        </div>


                    </div>

                </td>
                <td data-title="'Estado'" ng-if="row.writable == true"  style="vertical-align:middle"><select ng-model="row.status" ng-options="state.statusSpa as state.statusSpa for state in states" style="height:2.2em; margin-top: 6px;" >
                    <option value="#">No especifico</option>
                </select>
                </td>
                <td data-title="'Tipo'" ng-if="row.writable == true"  style="vertical-align:middle"><select ng-model="row.vdm_type" ng-options="type.typeSpa as type.typeSpa for type in vdmTypes" style="height:2.2em; margin-top: 6px;" >
                    <option value="#">No especifico</option>
                </select>
                </td>
                <td data-title="'Comentarios'" ng-if="row.writable == true" style="vertical-align:middle"><textarea style="width: 100%; height: 150px; font-weight: bold"  type="text" ng-model="row.comments"></textarea></td>

                <td data-title="'Acciones'" ng-if="row.writable == true"  style="vertical-align:middle">
                    <div align="center" ng-if="row.uploadFiles != true">
                        <a ng-click="saveVdmPre(row)" title='guardar'>
                            <i class="fa fa-floppy-o saveBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px">|</span>
                        <a ng-click="remove(row, $data)" title='eliminar'>
                            <i class="fa fa-minus-circle removeBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px">|</span>
                        <a ng-click="close(row, $data)" title='cerrar'>
                            <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px">|</span>
                        <a ng-click="row.uploadFiles = true" title="subir archivos">
                            <i class="fa fa-cloud-upload uploadBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                    </div>
                    <div align="center" ng-if="row.uploadFiles == true">
                        <label for="uploadCDoc" title="subir documento de clase">
                            <i class="fa fa-file-powerpoint-o uploadBtn" aria-hidden="true" style="font-size: 15px">
                                <input id="uploadCDoc" type="file" ng-model="row.class_doc" name="class_doc" style="display: none" base-sixty-four-input>
                            </i>
                        </label><span style="font-size: 20px"> |</span>
                        <label for="uploadTFiles" title="subir material del profesor">
                            <i class="fa fa-file-pdf-o uploadBtn" aria-hidden="true" style="font-size: 15px">
                                <input id="uploadTFiles" type="file" ng-model="row.teacher_files" multiple maxnum="2" name="teacher_files" style="display: none" base-sixty-four-input>
                            </i>
                        </label><span style="font-size: 20px"> |</span>
                        <a ng-click="row.uploadFiles = false" title='cerrar'>
                            <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- ---End--- PreProduction role Vdm View-->