<!--Production role Vdm View-->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <button ng-click="tableParams.filter({})" class="btn btn-default pull-right" style="margin-bottom: 30px;">Limpiar Filtrado</button>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data | orderBy : row.videoId">
                <td data-title="'Id video'" filter="{videoId: 'text'}" ng-if="row.writable != true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">{{row.videoId}}</td>
                <td data-title="'Titulo'" ng-if="row.writable != true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 ">
                        {{row.videoTittle | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Estado'" filter="{prodDeptStatus: 'text'}" ng-if="row.writable != true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.status == null">
                        {{row.status | translate}}
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.status != null">
                        {{row.prodDept.status | translate}}
                    </div>
                </td>
                <td data-title="'Asignado'" filter="{prodDeptResponsable: 'text'}" ng-if="row.writable != true" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.assignment == null">
                        sin editor
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.assignment != null">
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.assignment.assignedName == null">
                            sin editor
                        </div>
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.assignment.assignedName != null">
                            {{row.prodDept.assignment.assignedName}}<br>
                            status: {{row.prodDept.assignment.status}}
                        </div>
                    </div>
                </td>
                <td data-title="'Comentarios'" ng-if="row.writable != true" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.status == null">
                        {{row.comments | limitTo : 300}}...
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.status != null">
                        {{row.prodDept.comments | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Guion'" ng-if="row.writable != true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" align="center">
                        <span ng-if="row.prodDept.script == null || row.prodDept.script == ''">
                            no posee
                        </span>
                        <span ng-if="row.prodDept.script != null && row.prodDept.script != ''">
                            <span ng-if="row.script == 'cambiado'">
                                cambiado
                            </span>
                            <span ng-if="row.script != 'cambiado'">
                                guardado
                            </span>
                        </span>
                    </div>
                </td>
                <td data-title="'Intro'" ng-if="row.writable != true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" align="center">
                        <input type="checkbox" name="intro" ng-model="row.prodDept.intro" ng-disabled="true">
                    </div>
                </td>
                <td data-title="'Desarrollo'" ng-if="row.writable != true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" align="center">
                        <input type="checkbox" name="intro" ng-model="row.prodDept.vidDev" ng-disabled="true">
                    </div>
                </td>
                <td data-title="'Conclu'" ng-if="row.writable != true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" align="center">
                        <input type="checkbox" name="intro" ng-model="row.prodDept.conclu" ng-disabled="true">
                    </div>
                </td>
                <td data-title="'Acciones'" ng-if="row.writable != true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row" style="vertical-align:middle">
                    <div align="center">

                        <a ng-click="approve(row, 'Lider de produccion', 'edition')" title='aprobar' ng-if="row.prodDept.assignment != null && row.prodDept.assignment.status == 'editado'">
                            <i class="fa fa-thumbs-o-up approveBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.prodDept.assignment != null && row.prodDept.assignment.status == 'editado'">|</span>
                        <a ng-click="reject(row, 'production')" title='rechazar' ng-if="row.prodDept.assignment != null && row.prodDept.assignment.status == 'editado'">
                            <i class="fa fa-undo returnBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.prodDept.assignment != null && row.prodDept.assignment.status == 'editado'">|</span>

                        <a ng-click="editRow(row)" title='editar' ng-if="row.prodDept.status != 'grabado' && row.prodDept.status != 'aprobado' || row.prodDept.assignment.user_id == null">
                            <i class="fa fa-pencil editBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.prodDept.status != 'grabado' && row.prodDept.status != 'aprobado' || row.prodDept.assignment.user_id == null">|</span>

                        <a ui-sref="app.vdm.showVdm({id:row.id})" title='ver detalle'>
                            <i class="fa fa-eye showBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>

                    </div>
                </td>

                <td data-title="'Id video'" ng-if="row.writable == true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{row.videoId}}</td>
                <td data-title="'Titulo'" ng-if="row.writable == true" style="vertical-align:middle" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{row.videoTittle}}</td>
                <td data-title="'Estado'" ng-if="row.writable == true"  style="vertical-align:middle" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{row.prodDept.status}}</td>
                <td data-title="'Asignado'" ng-if="row.writable == true"  style="vertical-align:middle">
                    <div align="center">
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.assignment != null">
                            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.assignment.assignedName == null">
                                <select ng-model="row.asigned" ng-options="employee as employee.username for employee in employees | roles:['editor']" style="height:2.2em; margin-top: 6px;" ng-disabled="row.prodDept.status != 'grabado' || row.prodDept.assignment.user_id != null">
                                    <option value="#">No especifico</option>
                                </select>
                            </div>
                            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.assignment.assignedName != null">
                                {{row.prodDept.assignment.assignedName}}<br>
                                status: {{row.prodDept.assignment.status}}
                            </div>
                        </div>
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.prodDept.assignment == null">
                            <select ng-model="row.asigned" ng-options="employee as employee.name for employee in employees | roles:['editor']" style="height:2.2em; margin-top: 6px;" ng-disabled="row.prodDept.status != 'grabado' || row.prodDept.assignment.user_id != null">
                                <option value="#">No especifico</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td data-title="'Comentarios'" ng-if="row.writable == true" class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><textarea style="width: 100%; height: 150px; font-weight: bold"  type="text" ng-model="row.prodDept.comments"></textarea></td>
                <td data-title="'Guion'" ng-if="row.writable == true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row" style="vertical-align:middle">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" align="center">
                        <span ng-if="row.prodDept.script == null">
                            no posee
                        </span>
                        <span ng-if="row.prodDept.script != null">
                            <span ng-if="row.script == 'cambiado'">
                                cambiado
                            </span>
                            <span ng-if="row.script != 'cambiado'">
                                guardado
                            </span>
                        </span>
                    </div>
                </td>
                <td data-title="'Intro'" ng-if="row.writable == true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row" style="vertical-align:middle">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" align="center">
                        <input type="checkbox" name="intro" ng-model="row.intro" ng-disabled="row.prodDept.intro == true">
                    </div>
                </td>
                <td data-title="'Desarrollo'" ng-if="row.writable == true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row" style="vertical-align:middle">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" align="center">
                        <input type="checkbox" name="intro" ng-model="row.vidDev" ng-disabled="row.prodDept.vidDev == true">
                    </div>
                </td>
                <td data-title="'Conclu'" ng-if="row.writable == true" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row" style="vertical-align:middle">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" align="center">
                        <input type="checkbox" name="intro" ng-model="row.conclu" ng-disabled="row.prodDept.conclu == true">
                    </div>
                </td>
                <td data-title="'Acciones'" ng-if="row.writable == true"  style="vertical-align:middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div align="center">
                        <label for="upload" title="subir libreto">
                            <i class="fa fa-cloud-upload uploadBtn" aria-hidden="true" style="font-size: 15px">
                                <input id="upload" type="file" ngf-select ng-model="file" name="file" accept="pdf/*" ngf-max-size="5MB" style="display: none">
                            </i>
                        </label>
                        <span style="font-size: 20px">|</span>
                        <a id="prodSave" ng-click="saveVdmProd(row, file)" title='guardar' ng-class="{disabled: disableSave == true}">
                            <i class="fa fa-floppy-o saveBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px">|</span>
                        <a ng-click="close(row, $data)" title='cerrar'>
                            <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- ---End--- Production role Vdm View-->