<!--Production role Vdm View-->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <button ng-click="tableParams.filter({})" class="btn btn-default pull-right" style="margin-bottom: 30px;">Limpiar Filtrado</button>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row over-x">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data | orderBy : row.videoId">
                <td data-title="'Id video'" filter="{videoId: 'text'}" ng-if="row.writable != true" style="vertical-align:middle"><div align="center">{{row.videoId}}</div></td>
                <td data-title="'Titulo'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div align="center">
                        {{row.videoTittle | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Estado'" filter="{prodDeptStatus: 'text'}" ng-if="row.writable != true" style="vertical-align:middle">
                    <div ng-if="row.prodDept.status == null" align="center">
                        {{row.status | translate}}
                    </div>
                    <div ng-if="row.prodDept.status != null" align="center">
                        {{row.prodDept.status | translate}}
                    </div>
                </td>
                <td data-title="'Asignado'" filter="{prodDeptResponsable: 'text'}" ng-if="row.writable != true" style="vertical-align:middle">
                    <div ng-if="row.prodDept.assignment == null" align="center">
                        sin editor
                    </div>
                    <div ng-if="row.prodDept.assignment != null" align="center">
                        <div ng-if="row.prodDept.assignment.assignedName == null">
                            sin editor
                        </div>
                        <div ng-if="row.prodDept.assignment.assignedName != null">
                            {{row.prodDept.assignment.assignedName}}<br>
                            status: {{row.prodDept.assignment.status}}
                        </div>
                    </div>
                </td>
                <td data-title="'Comentarios'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div ng-if="row.prodDept.status == null" align="center">
                        {{row.comments | limitTo : 300}}...
                    </div>
                    <div ng-if="row.prodDept.status != null" align="center">
                        {{row.prodDept.comments | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Archivos'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div class="itemMissing" ng-if="row.prodDept.scree_play.screen_play.url == null && row.prodDept.script.script.url == null">
                        No Posee
                    </div>
                    <div class="itemPresent" ng-if="row.prodDept.screen_play.screen_play.url != null || row.prodDept.script.script.url != null">
                        <div ng-if="row.prodDept.screen_play.screen_play.url != null">
                            <h4>Guion</h4>
                            <div>
                                <a href="{{uploadFolder + row.prodDept.screen_play.scree_play.url}}" download class="prettyLinkSmall">&#x25CF;{{row.prodDept.screen_play_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="row.prodDept.script.script.url != null">
                            <h4>Libreto</h4>
                            <div>
                                <a href="{{uploadFolder + row.prodDept.script.script.url}}" download class="prettyLinkSmall">&#x25CF;{{row.prodDept.script_name}}</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </td>
                <td data-title="'Intro'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div align="center">
                        <input type="checkbox" name="intro" ng-model="row.prodDept.intro" ng-disabled="true">
                    </div>
                </td>
                <td data-title="'Desarrollo'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div align="center">
                        <input type="checkbox" name="intro" ng-model="row.prodDept.vidDev" ng-disabled="true">
                    </div>
                </td>
                <td data-title="'Conclu'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div align="center">
                        <input type="checkbox" name="intro" ng-model="row.prodDept.conclu" ng-disabled="true">
                    </div>
                </td>
                <td data-title="'Acciones'" ng-if="row.writable != true" style="vertical-align:middle">
                    <div align="center">

                        <a ng-click="approve(row, 'Lider de produccion', 'edition')" title='aprobar' ng-if="row.prodDept.assignment != null && row.prodDept.assignment.status == 'editado'">
                            <i class="fa fa-thumbs-o-up approveBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.prodDept.assignment != null && row.prodDept.assignment.status == 'editado'">|</span>
                        <a ng-click="reject(row, 'production')" title='rechazar' ng-if="row.prodDept.assignment != null && row.prodDept.assignment.status == 'editado'">
                            <i class="fa fa-undo returnBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.prodDept.assignment != null && row.prodDept.assignment.status == 'editado'">|</span>

                        <a ng-click="editRow(row)" title='editar' ng-if="row.prodDept.status != 'grabado' && row.prodDept.status != 'aprobado' || row.prodDept.assignment.user_id == null">
                            <i class="fa fa-pencil editBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.prodDept.status != 'grabado' && row.prodDept.status != 'aprobado' || row.prodDept.assignment.user_id == null">|</span>

                        <a ui-sref="app.vdm.showVdm({id:row.id})" title='ver detalle'>
                            <i class="fa fa-eye showBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>

                    </div>
                </td>

                <td data-title="'Id video'" ng-if="row.writable == true" style="vertical-align:middle"><div align="center">{{row.videoId}}</div></td>
                <td data-title="'Titulo'" ng-if="row.writable == true" style="vertical-align:middle"><div align="center">{{row.videoTittle}}</div></td>
                <td data-title="'Estado'" ng-if="row.writable == true"  style="vertical-align:middle"><div align="center">{{row.prodDept.status}}</div></td>
                <td data-title="'Asignado'" ng-if="row.writable == true"  style="vertical-align:middle">
                    <div align="center">
                        <div ng-if="row.prodDept.assignment != null">
                            <div ng-if="row.prodDept.assignment.assignedName == null">
                                <select ng-model="row.asigned" ng-options="employee as employee.username for employee in employees | roles:['editor']" style="height:2.2em; margin-top: 6px;" ng-disabled="row.prodDept.status != 'grabado' || row.prodDept.assignment.user_id != null">
                                    <option value="#">No especifico</option>
                                </select>
                            </div>
                            <div ng-if="row.prodDept.assignment.assignedName != null">
                                {{row.prodDept.assignment.assignedName}}<br>
                                status: {{row.prodDept.assignment.status}}
                            </div>
                        </div>
                        <div ng-if="row.prodDept.assignment == null">
                            <select ng-model="row.asigned" ng-options="employee as employee.name for employee in employees | roles:['editor']" style="height:2.2em; margin-top: 6px;" ng-disabled="row.prodDept.status != 'grabado' || row.prodDept.assignment.user_id != null">
                                <option value="#">No especifico</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td data-title="'Comentarios'" ng-if="row.writable == true"><textarea style="width: 100%; height: 150px; font-weight: bold"  type="text" ng-model="row.prodDept.comments"></textarea></td>
                <td data-title="'Archivos'" ng-if="row.writable == true" style="vertical-align:middle">
                    <div class="itemMissing" ng-if="row.prodDept.scree_play.scree_play.url == null && row.prodDept.script.script.url == null">
                        No Posee
                    </div>
                    <div class="itemPresent" ng-if="row.prodDept.scree_play.scree_play.url != null || row.prodDept.script.script.url != null">
                        <div ng-if="row.prodDept.scree_play.url != null">
                            <h4>Guion</h4>
                            <div>
                                <a href="{{uploadFolder + row.prodDept.scree_play.url}}" download class="prettyLinkSmall">&#x25CF;{{row.scree_play_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="row.prodDept.script.url != null">
                            <h4>libreto</h4>
                            <div>
                                <a href="{{uploadFolder + row.prodDept.script.url}}" download class="prettyLinkSmall">&#x25CF;{{row.script_name}}</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </td>
                <td data-title="'Intro'" ng-if="row.writable == true" style="vertical-align:middle">
                    <div align="center">
                        <input type="checkbox" name="intro" ng-model="row.intro" ng-disabled="row.prodDept.intro == true">
                    </div>
                </td>
                <td data-title="'Desarrollo'" ng-if="row.writable == true" style="vertical-align:middle">
                    <div align="center">
                        <input type="checkbox" name="intro" ng-model="row.vidDev" ng-disabled="row.prodDept.vidDev == true">
                    </div>
                </td>
                <td data-title="'Conclu'" ng-if="row.writable == true" style="vertical-align:middle">
                    <div align="center">
                        <input type="checkbox" name="intro" ng-model="row.conclu" ng-disabled="row.prodDept.conclu == true">
                    </div>
                </td>
                <td data-title="'Acciones'" ng-if="row.writable == true"  style="vertical-align:middle">
                    <div align="center" ng-if="row.uploadFiles != true">
                        <a ng-click="row.uploadFiles = true" title="subir archivos">
                            <i class="fa fa-cloud-upload uploadBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                        <span style="font-size: 20px">|</span>
                        <a id="prodSave" ng-click="saveVdmProd(row, file)" title='guardar' ng-class="{disabled: disableSave == true}">
                            <i class="fa fa-floppy-o saveBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px">|</span>
                        <a ng-click="close(row, $data)" title='cerrar'>
                            <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                    </div>
                    <div align="center" ng-if="row.uploadFiles == true">
                        <label for="uploadScreenPlay" title="subir libreto">
                            <i class="fa fa-file-powerpoint-o uploadBtn" aria-hidden="true" style="font-size: 15px">
                                <input id="uploadScreenPlay" type="file" ng-model="row.prodDept.screen_play" name="screen_play" style="display: none" base-sixty-four-input>
                            </i>
                        </label><span style="font-size: 20px"> |</span>
                        <label for="uploadScript" title="subir guion">
                            <i class="fa fa-file-excel-o uploadBtn" aria-hidden="true" style="font-size: 15px">
                                <input id="uploadScript" type="file" ng-model="row.prodDept.script" name="script" style="display: none" base-sixty-four-input>
                            </i>
                        </label><span style="font-size: 20px"> |</span>
                        <a ng-click="row.uploadFiles = false" title='cerrar'>
                            <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- ---End--- Production role Vdm View-->