<!-- Designer role Vdm View-->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <button ng-click="tableParams.filter({})" class="btn btn-default pull-right" style="margin-bottom: 30px;">Limpiar Filtrado</button>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 over-x">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data">

                <td data-title="'Id video'" filter="{videoId: 'text'}" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">{{row.videoId}}</td>
                <td data-title="'Titulo'" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 ">
                        {{row.videoTittle | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Estado'" filter="{status: 'text'}" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.status == null">
                        no asignado
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.status != null">
                        {{row.qa.status}}
                    </div>
                </td>
                <td data-title="'Asignado a'" filter="{qaResponsable: 'text'}" ng-if="row.writable != true" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.assignment == null">
                        sin analista
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.assignment != null">
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.assignment.assignedName == null">
                            sin analista
                        </div>
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.assignment.assignedName != null">
                            {{row.qa.assignment.assignedName}}<br>
                            status: {{row.qa.assignment.status}}
                        </div>
                    </div>
                </td>
                <td data-title="'Asignado a'" ng-if="row.writable == true"  style="vertical-align:middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row">
                    <div align="center">
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.assignment != null">
                            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.assignment.assignedName == null || row.qa.changeAnalist == true">
                                <a  ng-click="row.qa.changeAnalist = false" title='cerrar' ng-if="row.qa.changeAnalist == true">
                                    <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                                </a>
                                <select ng-model="row.qaAsigned" ng-options="employee as employee.name for employee in employees | roles:['qa-analyst']" style="height:2.2em; margin-top: 6px;">
                                    <option value="#">No especifico</option>
                                </select>
                            </div>
                            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.assignment.assignedName != null  && row.qa.changeAnalist != true">
                                <a  ng-click="row.qa.changeAnalist = true" title='cambiar editor'>
                                    <i class="fa fa-users showBtn" aria-hidden="true" style="font-size: 15px"></i>
                                </a><br><br>
                                {{row.qa.assignment.assignedName}}<br>
                                status: {{row.qa.assignment.status}}
                            </div>
                        </div>
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.assignment == null">
                            <select ng-model="row.qaAsigned" ng-options="employee as employee.name for employee in employees | roles:['qaAnalist']" style="height:2.2em; margin-top: 6px;">
                                <option value="#">No especifico</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td data-title="'Comentarios'" ng-if="row.writable != true" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.comments != null">
                        {{row.qa.comments | limitTo : 300}}...
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" ng-if="row.qa.comments == null">
                        {{row.qa.comments | limitTo : 300}}...
                    </div>
                </td>
                <td data-title="'Comentarios'" ng-if="row.writable == true" class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><textarea style="width: 100%; height: 150px; font-weight: bold"  type="text" ng-model="row.qaDept.comments"></textarea></td>

                <td data-title="'Acciones'" ng-if="row.writable != true" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row" style="vertical-align:middle">
                    <div align="center">
                         <a ng-click="editRow(row)" title='editar' ng-if="row.qa.status == 'asignado'">
                            <i class="fa fa-pencil editBtn" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.qa.status == 'asignado'">|</span>
                        <a ui-sref="app.vdm.showVdm({id:row.id})" title='ver detalle'>
                            <i class="fa fa-eye showBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>

                    </div>
                </td>
                <td data-title="'Acciones'" ng-if="row.writable == true"  style="vertical-align:middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div align="center">
                        <a ng-click="saveVdm(row)" title='guardar' ng-if="row.qa.status == 'asignado'" ng-class="{disabled: disableSave == true}">
                            <i class="fa fa-floppy-o saveBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a><span style="font-size: 20px" ng-if="row.qa.status == 'asignado'">|</span>
                        <a ng-click="close(row, $data)" title='cerrar'>
                            <i class="fa fa-times-circle closeBtn" aria-hidden="true" style="font-size: 15px"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- ---End--- Designer role Vdm View-->