<section class="container-fluid">
    <div class="row col-md-10 col-md-offset-1">

        <div class="col-md-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.subjects({id:vdm.subject.grade_id})" class="">Materias</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.vdm.vdmList({id: vdm.subject.id})" class="">MDT'S</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>{{vdm.videoId}}</b></span></a>
                    <underlining></underlining>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="clearfix"></div>

            <div class="tile-body">
                <div class="row" style="top: 20px;">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12 row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Tema:</label> <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{vdm.cp.topicName}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">ME Objetivo general:</label> <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{vdm.cp.meGeneralObjective}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">ME Objetivo especifico</label> <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{vdm.cp.meSpecificObjective}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Descripcion Objetivo especifico</label><div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{vdm.cp.meSpecificObjDesc}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Id de video</label><div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{vdm.videoId}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Titulo de video</label><div class="col-md-8 col-lg-8 col-sm-8 col-xs-8"><span ng-if="vdm.videoTittle != null">{{vdm.videoTittle}}</span><span ng-if="vdm.videoTittle == null">No posee</span></div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Contenido</label><div class="col-md-8 col-lg-8 col-sm-8 col-xs-8"><span ng-if="vdm.videoContent != null">{{vdm.videoContent}}</span><span ng-if="vdm.videoContent == null">No posee</span></div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Estado</label><div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">{{vdm.status}}</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Comentarios</label><div class="col-md-8 col-lg-8 col-sm-8 col-xs-8"><span ng-if="vdm.comments != null">{{vdm.comments}}</span><span ng-if="vdm.comments == null">No posee</span></div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 row">
                            <label class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Description</label><div class="col-md-8 col-lg-8 col-sm-8 col-xs-8"><span ng-if="vdm.description != null">{{vdm.description}}</span><span ng-if="vdm.description == null">No posee</span></div>
                        </div>
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2" style="margin-top: 20px; text-align: center" ng-if="currentRole == 'production' || currentRole == 'productManager'">
                            <a class="prettyLinkBig" ng-click="printVdmInfo(vdm)">Imprimir informacion de mdt <i class="fa fa-print" aria-hidden="true" style="font-size: 30px"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" ng-if="vdm.prodDept.script != null && currentRole == 'production' || currentRole == 'productManager'">
                <pdf data="vdm.prodDept.script" height="500"></pdf>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
                <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h3>Archivos</h3></div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 row">
                    <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Pre-produccion</h3>
                    </div>

                    <div align="center"class="itemMissing" ng-if="vdm.classDoc.url == null && vdm.teacher_files.length < 1">
                        No Posee
                    </div>
                    <div align="center" class="itemPresent" ng-if="vdm.classDoc.url != null || vdm.teacher_files.length >= 1">
                        <div ng-if="vdm.classDoc.url != null">
                            <h4>Documento de clase</h4>
                            <div>
                                <a ng-href="{{downloadRoot + vdm.classDoc.url}}" download class="prettyLinkSmall">&#x25CF;{{vdm.class_doc_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="vdm.teacher_files.length >= 1">
                            <h4>Material de Profesor</h4>
                            <div ng-repeat="file in vdm.teacher_files">
                                <a ng-href="{{downloadRoot + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div><br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 row">
                    <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h3>Produccion</h3></div>
                    <div align="center" class="itemMissing" ng-if="vdm.production_dpt == null">
                        No Posee
                    </div>
                    <div  align="center"class="itemMissing" ng-if="vdm.production_dpt.screen_play.url == null && vdm.production_dpt.script.url == null && vdm.production_dpt.master_planes.length < 1 && vdm.production_dpt.detail_planes.length < 1 && vdm.production_dpt.wacom_vids.length < 1 && vdm.production_dpt.prod_audios.length < 1">
                        No Posee
                    </div>
                    <div class="itemPresent" ng-if="vdm.production_dpt.screen_play.url != null || vdm.production_dpt.script.url != null || vdm.production_dpt.master_planes.length >= 1 || vdm.production_dpt.detail_planes.length >= 1 || vdm.production_dpt.wacom_vids.length >= 1 || vdm.production_dpt.prod_audios.length >= 1">
                        <div ng-if="vdm.production_dpt.screen_play.url != null">
                            <h4>Guion</h4>
                            <div>
                                <a ng-href="{{downloadRoot + vdm.production_dpt.scree_play.url}}" download class="prettyLinkSmall">&#x25CF;{{vdm.production_dpt.screen_play_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="vdm.production_dpt.script.url != null">
                            <h4>Libreto</h4>
                            <div>
                                <a ng-href="{{downloadRoot + vdm.production_dpt.script.url}}" download class="prettyLinkSmall">&#x25CF;{{vdm.production_dpt.script_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="vdm.production_dpt.master_planes.length >= 1">
                            <h4>Plano master</h4>
                            <div ng-repeat="file in vdm.production_dpt.master_planes">
                                <a ng-href="{{downloadRoot + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="vdm.production_dpt.detail_planes.length >= 1">
                            <h4>Plano detallado</h4>
                            <div ng-repeat="file in vdm.production_dpt.detail_planes">
                                <a ng-href="{{downloadRoot + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="vdm.production_dpt.wacom_vids.length >= 1">
                            <h4>Videos wacom</h4>
                            <div ng-repeat="file in vdm.production_dpt.wacom_vids">
                                <a ng-href="{{downloadRoot + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div>
                            <br>
                        </div>
                        <div ng-if="vdm.production_dpt.prod_audios.length >= 1">
                            <h4>Audios</h4>
                            <div ng-repeat="file in vdm.production_dpt.prod_audios">
                                <a ng-href="{{downloadRoot + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 row deptBox">
                    <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "><h3>Edicion</h3></div>
                    <div align="center" class="itemMissing" ng-if="vdm.production_dpt.assignment == null">
                        No Posee
                    </div>
                    <div align="center" class="itemMissing" ng-if="vdm.production_dpt.assignment.video_clip.url == null && vdm.production_dpt.assignment.premier_project.url == null">
                        No Posee
                    </div>
                    <div align="center" class="itemPresent" ng-if="vdm.production_dpt.assignment.video_clip.url != null || vdm.production_dpt.assignment.premier_project.url != null">
                        <div ng-if="vdm.production_dpt.assignment.video_clip.url != null">
                            <h4>Video</h4>
                            <video width="320" height="240" controls>
                                <source src="{{downloadRoot + vdm.production_dpt.assignment.video_clip.url | trustUrl}}" type="video/mp4">
                                <a ng-href="{{downloadRoot + vdm.production_dpt.assignment.video_clip.url}}" download class="prettyLinkSmall">&#x25CF;{{row.vdm.production_dpt.assignment.video_clip_name}}</a>
                            </video>
                            <br>
                        </div>
                        <div ng-if="vdm.production_dpt.assignment.premier_project.url != null">
                            <h4>Premier</h4>
                            <div>
                                <a ng-href="{{downloadRoot + vdm.production_dpt.assignment.premier_project.url}}" download class="prettyLinkSmall">&#x25CF;{{vdm.production_dpt.assignment.premier_project_name}}</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 row deptBox ">
                    <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h3>Diseño</h3></div>

                    <div align="center"class="itemMissing" ng-if="vdm.design_dpt == null || vdm.design_dpt.assignment == null">
                        No Posee
                    </div>
                    <div align="center" class="itemMissing" ng-if="vdm.design_dpt.assignment.illustrators.length < 1 && vdm.design_dpt.assignment.jpgs.length < 1 && vdm.design_dpt.assignment.designed_presentation.url == null && vdm.design_dpt.assignment.design_elements.length < 1">
                        No Posee
                    </div>
                    <div align="center" class="itemPresent" ng-if="vdm.design_dpt.assignment.illustrators.length >= 1 || vdm.design_dpt.assignment.jpgs.length >= 1 || vdm.design_dpt.assignment.designed_presentation.url != null || vdm.design_dpt.assignment.design_elements.length >= 1">
                        <div ng-if="vdm.design_dpt.assignment.illustrators.length >= 1">
                            <h4>Ilustrators</h4>
                            <div ng-repeat="file in vdm.design_dpt.assignment.illustrators">
                                <a ng-href="{{downloadRoot + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div><br>
                        </div>
                        <div ng-if="vdm.design_dpt.assignment.jpgs.length >= 1">
                            <h4>Imagenes</h4>
                            <div ng-repeat="file in vdm.design_dpt.assignment.jpgs">
                                <a ng-href="{{downloadRoot + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div><br>
                        </div>
                        <div ng-if="vdm.design_dpt.assignment.designed_presentation.url != null">
                            <h4>Presentacion diseñada</h4>
                                <a ng-href="{{downloadRoot + vdm.design_dpt.assignment.designed_presentation.url}}" download class="prettyLinkSmall">&#x25CF;{{vdm.design_dpt.assignment.designed_presentation_name}}</a>
                            <br>
                        </div>
                        <div ng-if="vdm.design_dpt.assignment.design_elements.length >= 1">
                            <h4>Elementos</h4>
                            <div ng-repeat="file in vdm.design_dpt.assignment.design_elements">
                                <a ng-href="{{downloadRoot + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div><br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 row deptBox">
                    <div align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h3>Post-produccion</h3></div>

                    <div align="center" class="itemMissing" ng-if="vdm.post_prod_dpt == null || vdm.post_prod_dpt.assignment == null">
                        No Posee
                    </div>
                    <div align="center" class="itemMissing" ng-if="vdm.post_prod_dpt.assignment.video.url == null && vdm.post_prod_dpt.assignment.premier_project.url == null && vdm.post_prod_dpt.assignment.after_project.url == null && vdm.post_prod_dpt.assignment.illustrators.length < 1 && vdm.post_prod_dpt.assignment.elements.length < 1">
                        No Posee
                    </div>
                    <div align="center" class="itemPresent" ng-if="vdm.post_prod_dpt.assignment.video.url != null || vdm.post_prod_dpt.assignment.premier_project.url != null || vdm.post_prod_dpt.assignment.after_project.url != null || vdm.post_prod_dpt.assignment.illustrators.length >= 1 || vdm.post_prod_dpt.assignment.elements.length >= 1">
                        <div ng-if="vdm.post_prod_dpt.assignment.video.url != null">
                            <h4>Video</h4>
                            <video width="320" height="240" controls>
                                <source src="{{downloadRoot + vdm.post_prod_dpt.assignment.video.url | trustUrl}}" type="video/mp4">
                                <a ng-href="{{downloadRoot + vdm.post_prod_dpt.assignment.video.url}}" download class="prettyLinkSmall">&#x25CF;{{vdm.post_prod_dpt.assignment.video_name}}</a>
                            </video>
                        </div>
                        <div ng-if="vdm.post_prod_dpt.assignment.premier_project.url != null">
                            <h4>Premier</h4>
                            <a ng-href="{{downloadRoot + vdm.post_prod_dpt.assignment.premier_project.url}}" download class="prettyLinkSmall">&#x25CF;{{vdm.post_prod_dpt.assignment.premier_project_name}}</a>

                        </div>
                        <div ng-if="vdm.post_prod_dpt.assignment.after_project.url != null">
                            <h4>After</h4>
                            <a ng-href="{{downloadRoot + vdm.post_prod_dpt.assignment.after_project.url}}" download class="prettyLinkSmall">&#x25CF;{{vdm.post_prod_dpt.assignment.after_project_name}}</a>

                        </div>
                        <div ng-if="vdm.post_prod_dpt.assignment.illustrators.length >= 1">
                            <h4>Illustrators</h4>
                            <div ng-repeat="file in vdm.post_prod_dpt.assignment.illustrators">
                                <a ng-href="{{downloadRoot + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div><br>
                        </div>
                        <div ng-if="vdm.post_prod_dpt.assignment.elements.length >= 1">
                            <h4>Elementos</h4>
                            <div ng-repeat="file in vdm.post_prod_dpt.assignment.elements">
                                <a ng-href="{{downloadRoot + file.file.url}}" download class="prettyLinkSmall">&#x25CF;{{file.file_name}}</a>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row over-x">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6  col-md-offset-3 col-lg-offset-3 col-sm-offset-3 col-xs-offset-3 row">
                    <div align="center" style="margin-bottom: 20px">
                        <h3>Historial de Cambios</h3>
                    </div>
                </div>
                <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
                    <tr ng-repeat="row in $data">
                        <td data-title="'Usuario'" filter="{uname: 'text'}">{{row.uname}}</td>
                        <td data-title="'Departamento'" filter="{department: 'text'}">{{row.department}}</td>
                        <td data-title="'Detalle'" filter="{changeDetail: 'text'}">{{row.changeDetail}}</td>
                        <td data-title="'Cambio de'" ng-if="row.changeDetail != 'Cambio de Guion de produccion'">
                            <div>
                                {{row.changedFrom | limitTo : 300}}...
                            </div>
                        </td>
                        <td data-title="'Cambio de'" ng-if="row.changeDetail == 'Cambio de Guion de produccion'">
                            <div align="center" ng-if="row.changedFrom == 'vacio'">
                                vacio
                            </div>
                            <div allign="center" ng-if="row.changedFrom != 'vacio'">
                                <pdflink data="row.changedFrom" class="'prettyLinkSmall'" text="'ver original'"></pdflink>
                            </div>
                        </td>
                        <td data-title="'Cambio a'" ng-if="row.changeDetail != 'Cambio de Guion de produccion'">
                            <div>
                                {{row.changedTo | limitTo : 300}}...
                            </div>
                        </td>
                        <td data-title="'Cambio a'" ng-if="row.changeDetail == 'Cambio de Guion de produccion'">
                            <div allign="center">
                                <pdflink data="row.changedTo" class="'prettyLinkSmall'" text="'ver cambio'"></pdflink>
                            </div>
                        </td>
                        <td data-title="'Commentarios'">
                            <div>
                                {{row.comments | limitTo : 300}}...
                            </div>
                        </td>
                        <td data-title="'Fecha'"filter="{changeDate: 'text'}" style="vertical-align:middle">
                            <div align="center">
                                {{row.changeDate}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</section>