<section class="container-fluid">
    <div class="row col-md-10 col-md-offset-1">

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="tittle">
                <span id="border-total-width"  style="color:rgb(231, 232, 233);">
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.dashboard" class="">Inicio</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; font-weight: 200;font-size: 28px;" ui-sref="app.subjects({id:subject.grade_id})" class="">Materias</a>
                    <a class="withoutOver" style="cursor:default;font-weight: 600;color: #787878;font-size: 40px;">></a>
                    <a style="text-decoration: none; color: #787878; cursor: default;font-weight: 200;font-size: 30px;" class=""><span style="color:#135C60"><b>MDT'S</b></span></a>
                    <underlining/>
                </span>
            </div>
        </div>

        <span ng-if="!emptyResponse">
            <span ng-if="currentRole == 'contentLeader'" ng-include="'views/VDM/preProductionVdm.html'" ng-controller="vdmsController"></span>
            <span ng-if="currentRole == 'contentAnalist'" ng-include="'views/VDM/preProductionVdm.html'" ng-controller="vdmsController"></span>
            <span ng-if="currentRole == 'production'" ng-include="'views/VDM/productionVdm.html'" ng-controller="vdmsController"></span>
            <span ng-if="currentRole == 'designLeader'" ng-include="'views/VDM/designDptVdm.html'" ng-controller="vdmsController"></span>
            <span ng-if="currentRole == 'editor'" ng-include="'views/VDM/editorVdm.html'" ng-controller="vdmsController"></span>
            <span ng-if="currentRole == 'designer'" ng-include="'views/VDM/designerVdm.html'" ng-controller="vdmsController"></span>
            <span ng-if="currentRole == 'post-producer'" ng-include="'views/VDM/postProducerVdm.html'" ng-controller="vdmsController"></span>
            <span ng-if="currentRole == 'postProLeader'" ng-include="'views/VDM/postProdDptVdm.html'" ng-controller="vdmsController"></span>
            <span ng-if="currentRole == 'productManager'" ng-include="'views/VDM/productManagementVdm.html'" ng-controller="vdmsController"></span>
            <span ng-if="currentRole == 'qa'" ng-include="'views/VDM/qaVdms.html'" ng-controller="vdmsController"></span>
            <span ng-if="currentRole == 'qa-analyst'" ng-include="'views/VDM/qa-analyst-vdm.html'" ng-controller="vdmsController"></span>

            <div class="col-md-3 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4" style="margin-top: 20px;">

                <a class="prettyLinkBig" ui-sref="app.vdm.vdmsHistory({id: subject.id})">ver historial completo <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 30px"></i></a>
            </div>
        </span>
        <span ng-if="emptyResponse && currentRole == 'contentLeader'">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3" style="margin-top: 20px; font-size: 22px; font-weight: 300">
                No hay plan de clases creado, por favor ingrese <a class="prettyLinkBig" ui-sref="app.preProduction.createPlanification">aqui </a> para crear uno nuevo

            </div>
        </span>
        <span ng-if="emptyResponse && currentRole != 'contentLeader'">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3" style="margin-top: 20px; font-size: 22px; font-weight: 300">
                No hay MDT, por favor dirigirse al lider de contenido para la creacion de uno nuevo
            </div>
        </span>


    </div>

</section>